<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.d.gw.company.mapper.CompanySqlMapper">

	<insert id="insertCompany">
		INSERT INTO tl_d_company VALUES(
			tl_d_company_seq.nextval,
			#{com_manager_pk},
			#{com_scale_category_pk},
			#{business_number},
			#{com_name},
			#{com_bossname},
			#{com_address},
			'N',
			SYSDATE
		)
	</insert>

	<insert id="insertCompanyManager">
		INSERT INTO tl_d_company_manager VALUES(
			#{com_manager_pk},
			#{external_pk},
			#{com_manager_name},
			#{com_manager_email},
			#{com_manager_department},
			#{com_manager_position},
			#{com_direct_number},
			#{com_manager_phone},
			SYSDATE
		)
	</insert>
	
	<select id="creatCompanyManagerPK" resultType="int">
		SELECT tl_d_company_manager_seq.nextval FROM dual
	</select>
	
	<select id="creatExternalPK" resultType="int">
		SELECT tl_jic_external_info_seq.nextval FROM dual
	</select>
	
	<insert id="insertCompanyExternal">
		INSERT INTO tl_jic_external_info VALUES(
			#{external_pk},
			#{external_id},
			#{password},
			2,
			SYSDATE
		)
	</insert>
	
	<select id="selectComScaleCategoryAll" resultType="com.mkfactory.toothless.d.dto.ComScaleCategoryDto">
		SELECT * FROM tl_d_com_scale_category
		ORDER BY com_scale_category_pk ASC
	</select>
	
	<select id="selectCompanyAll" resultType="com.mkfactory.toothless.d.dto.CompanyDto">
		SELECT * FROM tl_d_company
	</select>
	
	<select id="selectCompanyManagerAll" resultType="com.mkfactory.toothless.d.dto.CompanyManagerDto">
		SELECT * FROM tl_d_company_manager
	</select>
	
	<select id="companySelectById" resultType="com.mkfactory.toothless.d.dto.CompanyDto">
		SELECT * FROM tl_d_company WHERE com_pk=#{com_pk}
	</select>
	
	<select id="companyManagerSelectById" resultType="com.mkfactory.toothless.d.dto.CompanyManagerDto">
		SELECT * FROM tl_d_company_manager WHERE com_manager_pk=#{com_manager_pk}
	</select>
	<!-- 
	<update id="updateCompany">
		UPDATE tl_d_company
		SET com_scale_category_pk=#{com_scale_category_pk},
			com_name=#{com_name},
			com_bossname=#{com_bossname},
			com_address=#{com_address}
		WHERE com_pk=#{com_pk}
	</update>
	
	<update id="updateCompanyManager">
		UPDATE tl_d_company_manager
		SET com_manager_name=#{com_manager_name},
			com_manager_email=#{com_manager_email},
			com_manager_department=#{com_manager_department},
			com_manager_position=#{com_manager_position},
			com_direct_number=#{com_direct_number},
			com_manager_phone=#{com_manager_phone}
		WHERE com_manager_pk=#{com_manager_pk}
	</update>
	 -->

</mapper>