<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.d.gw.company.mapper.CompanySqlMapper">

	<insert id="insertCompany">
		INSERT INTO tl_d_company VALUES(
			tl_d_company_seq.nextval,
			#{com_manager_pk},
			#{com_scale_category_pk},
			#{business_number},
			#{com_name},
			#{com_bossname},
			#{com_address},
			'X',
			SYSDATE
		)
	</insert>

	<insert id="insertCompanyManager">
		INSERT INTO tl_d_company_manager VALUES(
			#{com_manager_pk},
			#{external_pk},
			#{com_manager_name},
			#{com_manager_email},
			#{com_manager_department},
			#{com_manager_position},
			#{com_direct_number},
			#{com_manager_phone},
			SYSDATE
		)
	</insert>
	
	<select id="creatCompanyManagerPK" resultType="int">
		SELECT tl_d_company_manager_seq.nextval FROM dual
	</select>
	
	<select id="creatExternalPK" resultType="int">
		SELECT tl_jic_external_info_seq.nextval FROM dual
	</select>
	
	<insert id="insertCompanyExternal">
		INSERT INTO tl_jic_external_info VALUES(
			#{external_pk},
			#{external_id},
			#{password},
			2,
			SYSDATE
		)
	</insert>
	
	<select id="selectComScaleCategoryAll" resultType="com.mkfactory.toothless.d.dto.ComScaleCategoryDto">
		SELECT * FROM tl_d_com_scale_category
		ORDER BY com_scale_category_pk ASC
	</select>
	

</mapper>