<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="om.mkfactory.toothless.a.commons.mj.mapper.CommonsSqlMapper">

	<select id="selectThisYearAllSemester" resultType="map">
		SELECT semester AS SEME FROM tl_a_semester
		WHERE SEMESTER_YEAR = (
			SELECT SEMESTER_YEAR FROM tl_a_semester
			WHERE PROGRESS_STATE = 'Y'
		)
		ORDER BY SEMESTER_pk asc
	</select>


</mapper>