<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.a.staff.mj.mapper.DormStaffSqlMapper">

	<!-- 학년도/학기 등록 -->
	<insert id="insertYear">
		INSERT INTO tl_a_semester values(
			tl_a_semester_seq.nextval,
			#{semester_year},
			#{semester},
			'N'
		)
	</insert>
	
	<!-- 학년도/학기 조회 -->
	<select id="selectYearList" resultType="com.mkfactory.toothless.a.dto.SemesterDto">
		SELECT * FROM tl_a_semester
		ORDER BY SEMESTER_YEAR desc, SEMESTER_pk desc
	</select>
	
	<!-- 현재학기 조회 -->
	<select id="selectThisSemester" resultType="com.mkfactory.toothless.a.dto.SemesterDto">
		SELECT * FROM tl_a_semester
		WHERE PROGRESS_STATE = 'Y'
	</select>
	
	<!-- 입주공고 등록 -->
	<insert id="insertInfo">
		INSERT INTO tl_a_join_dorm_info values(
			tl_a_join_dorm_info_seq.nextval,
			#{semester_pk},
			#{title},
			#{detail_expln},
			#{apply_start_date},
			#{apply_end_date},
			#{selection_amount},
			#{pass_anncm_date},
			#{payment_start_date},
			#{payment_end_date},
			#{asgnm_anncm_date},
			#{join_dorm_date},
			sysdate
		)
	</insert>
	
	<!-- 등록된 공고들 조회 -->
	<select id="selectAllDormInfoList" resultType="com.mkfactory.toothless.a.dto.JoinDormInfoDto">
		SELECT * FROM tl_a_join_dorm_info
	</select>
	
	<!-- 현재 학년도 전체 조회 -->
	<select id="selectAllThisYearList" resultType="com.mkfactory.toothless.a.dto.SemesterDto">
		SELECT * FROM tl_a_semester
		WHERE SEMESTER_YEAR = (
			SELECT SEMESTER_YEAR FROM tl_a_semester
			WHERE PROGRESS_STATE = 'Y'
		)
		ORDER BY SEMESTER_pk asc
	</select>
	
	<!-- 입사신청 리스트 -->
	<select id="selectAllDormApplyList" resultType="com.mkfactory.toothless.a.dto.JoinDormApplicationDto">
		SELECT * FROM TL_A_JOIN_DORM_APPLICATION
		ORDER BY DORM_APPLICATION_PK desc
	</select>
	
	<!-- 선발상태 업데이트 -->
	<update id="updateSelectionStatus">
		UPDATE TL_A_JOIN_DORM_APPLICATION
		SET SELECTION_STATUS = #{selection_status}
		WHERE DORM_APPLICATION_PK = #{dorm_application_pk}
	</update>
	
	<!-- 선발된 정보 리스트 -->
	<select id="selectAllDormSelectedList" resultType="com.mkfactory.toothless.a.dto.JoinDormApplicationDto">
		SELECT * FROM TL_A_JOIN_DORM_APPLICATION
		WHERE SELECTION_STATUS = 'Y'
		ORDER BY DORM_APPLICATION_PK desc
	</select>
	
	<!-- 납부상태 업데이트 -->
	<update id="updatePaymentStatus">
		UPDATE TL_A_JOIN_DORM_APPLICATION
		SET PAYMENT_STATUS = #{payment_status}
		WHERE DORM_APPLICATION_PK = #{dorm_application_pk}
	</update>
	
	<!-- 선발인원 중 납부완료 리스트 -->
	<select id="selectPaymentYesList" resultType="com.mkfactory.toothless.a.dto.JoinDormApplicationDto">
		SELECT * FROM TL_A_JOIN_DORM_APPLICATION
		WHERE SELECTION_STATUS = 'Y'
		AND PAYMENT_STATUS = 'Y'
		ORDER BY DORM_APPLICATION_PK desc
	</select>
	
	<!-- 선발인원 중 미납 리스트 -->
	<select id="selectPaymentNoList" resultType="com.mkfactory.toothless.a.dto.JoinDormApplicationDto">
		SELECT * FROM TL_A_JOIN_DORM_APPLICATION
		WHERE SELECTION_STATUS = 'Y'
		AND PAYMENT_STATUS = 'N'
		ORDER BY DORM_APPLICATION_PK desc
	</select>
	
	
	


</mapper>