<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.d.jm.consulting.mapper.ConsultingMapper">


<!-- (학생)구직희망신청 정보 입력 -->
<insert id="insertHopeJobApply">
	INSERT INTO tl_d_hope_job values(
	tl_d_hope_job_seq.nextval,
	#{student_pk},
	#{hope_salary},
	#{hope_area},
	#{requierments},
	#{is_end_hope_job},
	sysdate
	)
</insert>




<!-- (학생)구직희망신청 중복 확인 -->
<select id="checkOverlapHopeJobApply" resultType="int">
SELECT count(*) FROM tl_d_hope_job
WHERE 1 = 1
AND student_pk = #{student_pk}
AND is_end_hope_job = 'N'
</select>

<!-- (학생)온라인 상담 정보 입력용-->
<!--  (학생) 가장 최근 구직희망신청 정보 출력  -->
<select id="getLastHopejob" resultType="com.mkfactory.toothless.d.dto.HopeJobDto">
SELECT *
FROM tl_d_hope_job
WHERE CREATED_AT =
	(SELECT max(CREATED_AT)
	 FROM tl_d_hope_job
	 WHERE STUDENT_PK = #{STUDENT_PK}
	) 
</select>

<!-- 학생 진행중인 구직희망 뽑아오기 -->
<select id="getProgressHopejob" resultType="com.mkfactory.toothless.d.dto.HopeJobDto">
SELECT *
FROM tl_d_hope_job
WHERE CREATED_AT =
	(SELECT max(CREATED_AT)
	 FROM tl_d_hope_job
	 WHERE STUDENT_PK = #{STUDENT_PK}
	 AND is_end_hope_job = 'N'
	) 
</select>



<!-- (학생)온라인 상담 정보 입력 -->
<insert id="insertOnlineConsulting">
INSERT INTO tl_d_online_consulting values(
	tl_d_online_consulting_seq.nextval,
	#{hope_job_pk},
	#{on_consulting_contents},
	sysdate
)
</insert>

<!-- 온라인 상담 가능여부 확인용 -->
<!-- 특정학생 가장 최근 온라인 상담내역 -->
<select id="getLastOnConsulting" resultType="com.mkfactory.toothless.d.dto.OnlineConsultingDto">
SELECT *
FROM tl_d_online_consulting
WHERE CREATED_AT = (
		SELECT max(CREATED_AT) 
		FROM tl_d_online_consulting
		WHERE HOPE_JOB_PK =
			(
			SELECT hope_job_pk
			FROM tl_d_hope_job
			WHERE 
				CREATED_AT = 
				(
				SELECT max(CREATED_AT) FROM tl_d_hope_job where student_pk = #{student_pk}
				)
			)
		)

</select>

<!-- 온라인 상담 가능여부 확인용 -->
<!-- 특정학생 상담 답글 달렸는지 확인용 -->
<select id="checkOnConsultingReply" resultType="com.mkfactory.toothless.d.dto.OnlineConsultingReplyDto">
SELECT *
FROM tl_d_online_consulting_reply
WHERE on_consulting_pk = #{on_consulting_pk}
</select>


<!-- (학생) 최근 온라인 상담 현활 10건보기 -->


<select id="getOnlineConsultingList" resultType="com.mkfactory.toothless.d.dto.OnlineConsultingDto">
SELECT t2.*
FROM (
	SELECT t1.*,rownum rnum
	FROM (
		SELECT a.*
		FROM tl_d_online_consulting a
		WHERE Hope_job_pk = #{hope_job_pk}
		ORDER BY a.created_at desc
	)t1
)t2
<![CDATA[
    WHERE rnum <= 10
]]>
</select>










<!-- 교직원 화면 출력용 -->
<!-- 미응답 온라인 상담 최근 5개 오래된순으로 꺼내오기 -->
<select id="getOnConsultingList" resultType="com.mkfactory.toothless.d.dto.OnlineConsultingDto">
SELECT t2.*
FROM (
	SELECT t1.*, rownum AS rnum
	FROM (
		SELECT a.*
		FROM tl_d_online_consulting a
		WHERE a.ON_CONSULTING_PK NOT in
			(	
			SELECT b.ON_CONSULTING_PK
			FROM tl_d_online_consulting_reply b
			) 
		ORDER BY a.CREATED_AT asc
	)t1
)t2
<![CDATA[
    WHERE rnum <= 5
]]>

</select>

<!-- 교직원 화면 출력용 -->
<!-- 구직 희망 신청번호로 구직희망 정보 뽑기 -->
<select id="getHopeJobByPk" resultType="com.mkfactory.toothless.d.dto.HopeJobDto">
SELECT *
FROM TL_D_HOPE_JOB
WHERE HOPE_JOB_PK = #{HOPE_JOB_PK}
</select>

<!-- 교직원 화면 출력용 -->
<!--  학생정보 뽑기 -->
<select id="getStudentInfoByPk" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
SELECT *
FROM TL_JIC_STUDENT_INFO
WHERE STUDENT_PK = #{STUDENT_PK}
</select>



<!-- 교직원 -->
<!-- 상담 답글 달기 -->
<insert id="insertOnlineConsultingReply">
INSERT INTO tl_d_online_consulting_reply VALUES(
	tl_d_on_consulting_reply_seq.nextval,
	#{on_consulting_pk},
	#{staff_pk},
	#{on_contents_reply},
	sysdate
)

</insert>





<!-- 온라인 상담 자세히보기 페이지 출력용-->
<select id="getOnlineConsultingByPk" resultType="com.mkfactory.toothless.d.dto.OnlineConsultingDto">
SELECT * FROM tl_d_online_consulting a
WHERE a.ON_CONSULTING_PK = #{ON_CONSULTING_PK}
</select>

<select id="getOnConsultingReplyByOnPk" resultType="com.mkfactory.toothless.d.dto.OnlineConsultingDto">
SELECT * FROM tl_d_online_consulting_reply
WHERE ON_CONSULTING_PK = #{ON_CONSULTING_PK}
</select>


<!--  스태프 pk로 스태프 정보추출 -->
<select id="getStaffInfoByPk" resultType="com.mkfactory.toothless.donot.touch.dto.StaffInfoDto">
SELECT * FROM tl_jic_staff_info 
WHERE STAFF_PK = #{STAFF_PK}
</select>





<!-- 만족도조사 값 입력-->
<insert id="insertHopeJobFeedback">
INSERT INTO tl_d_hope_job_feedback values(
	tl_d_hope_job_feedback_seq.nextval,
	#{hope_job_pk},
	#{hjf_score},
	#{hjf_comment},
	sysdate
)

</insert>

<!-- 특정학생 미응답 만족도조사 갯수 -->
<select id="countUnAnsweredHJF" resultType="int">
SELECT count(*)
FROM tl_d_hope_job_feedback a
WHERE a.hope_job_pk NOT in
	(
	SELECT b.HOPE_JOB_PK  FROM tl_d_hope_job b
	WHERE STUDENT_PK = #{STUDENT_PK}
	AND is_end_hope_job = 'Y'
	)
</select>


<!-- 특정학생 만족도 조사 안한 구직희망 프로그램 정보 -->
<select id="getUnAnsweredHJF" resultType="com.mkfactory.toothless.d.dto.HopeJobDto">
SELECT *
FROM tl_d_hope_job a
WHERE a.IS_END_HOPE_JOB = 'Y'
AND 
	a.HOPE_JOB_PK NOT in 
	(
	SELECT b.hope_job_pk
	FROM TL_D_HOPE_JOB_FEEDBACK b
	WHERE student_pk = #{STUDENT_PK}
	)
</select>


<!-- 구직관심 등록 관련 -->
<!-- 특정구직희망신청으로 구직관심분야 뽑아오기 -->
<select id="getHopeJobCategoryList" resultType="com.mkfactory.toothless.d.dto.HopeJobCategoryDto">
SELECT * FROM TL_D_HOPE_JOB_CATEGORY 
WHERE HOPE_JOB_PK =#{HOPE_JOB_PK} 
</select>

<!-- 채용 분야 카테고리pk로 채용 카테고리 꺼내오기 -->
<select id="getJobFieldCategoryByPk" resultType="com.mkfactory.toothless.d.dto.JobFieldCategoryDto">
SELECT * FROM TL_D_JOB_FIELD_CATEGORY
WHERE JOB_FIELD_CATEGORY_PK = #{JOB_FIELD_CATEGORY_PK}
</select>


<!-- 구직관심분야 등록 -->
<insert id="insertHopeJobCategory">
INSERT INTO TL_D_HOPE_JOB_CATEGORY values(
	TL_D_HOPE_JOB_CATEGORY_seq.nextval,
	#{hope_job_pk},
	#{job_field_category_pk}
)
</insert>

<!-- 특정 구직관심 select -->
<select id="getHopeJobCategory" resultType="com.mkfactory.toothless.d.dto.HopeJobCategoryDto">
SELECT *
FROM TL_D_HOPE_JOB_CATEGORY
WHERE JOB_FIELD_CATEGORY_PK  = #{job_field_category_pk}
AND HOPE_JOB_PK  = #{hope_job_pk}
</select>

<!-- 특정 관심구직 삭제 -->
<delete id="deleteHopeJobCategory">
DELETE FROM TL_D_HOPE_JOB_CATEGORY
WHERE HOPE_JOB_CATEGORY_PK = #{HOPE_JOB_CATEGORY_PK}
</delete>



</mapper>