<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.d.jm.consulting.mapper.ConsultingMapper">

<insert id="insertHopeJobApply">
	INSERT INTO tl_d_hope_job values(
	tl_d_hope_job_seq,
	#{student_pk},
	#{hope_salary},
	#{hope_area},
	#{requierments},
	#{is_end_hope_job},
	sysdate
	)
</insert>






</mapper>