<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.c.eunbi.mapper.EunbiExternalSqlMapper">

	<!-- 산업체 학생평가 입력 -->
	<insert id="insertCompanyEvaluation">
		INSERT INTO tl_c_company_evaluation VALUES(
			tl_c_company_evaluation_seq.nextval,
			#{student_intern_pk},
			#{diligence_score},
			#{responsibility_score},
			#{coorporation_score},
			#{achievement_score},
			#{review},
			SYSDATE
		)
	</insert>

	<!-- 현장실습 과정에서 산업체 정보 출력 -->
	<select id="getCompanyInfo" resultType="com.mkfactory.toothless.c.dto.AjdksCompanyInfoDto">
		SELECT * FROM tl_c_company_info
		WHERE company_pk = #{company_pk}
	</select>

	<select id="getInternshipCourseDetail" resultType="com.mkfactory.toothless.c.dto.AjdksInternshipCourseDto">
		SELECT * FROM tl_c_internship_course
		WHERE internship_course_pk = #{internship_course_pk}
	</select>

	
	
	
	
	
	
	<!-- 현장실습과정 날짜 비교 -->
	<select id="isStartApplying" resultType="int">
		SELECT COUNT(*) FROM tl_c_internship_course
		<![CDATA[
		WHERE TO_CHAR(applying_start_date, 'yyyyMMdd') <= SYSDATE
		AND internship_course_pk = #{internship_course_pk}
		]]>
	</select>

	<select id="isEndApplying" resultType="int">
		SELECT COUNT(*) FROM tl_c_internship_course
		<![CDATA[
		WHERE TO_CHAR(applying_end_date, 'yyyyMMdd') >= SYSDATE
		AND internship_course_pk = #{internship_course_pk}
		]]>
	</select>
	
	<select id="didAnnouncement" resultType="int">
		SELECT COUNT(*) FROM tl_c_internship_course
		<![CDATA[
		WHERE TO_CHAR(announcement_date, 'yyyyMMdd') <= SYSDATE
		AND internship_course_pk = #{internship_course_pk}
		]]>
	</select>
	
	<select id="isStartInternship" resultType="int">
		SELECT COUNT(*) FROM tl_c_internship_course
		<![CDATA[
		WHERE TO_CHAR(internship_start_date, 'yyyyMMdd') <= SYSDATE
		AND internship_course_pk = #{internship_course_pk}
		]]>
	</select>

	<select id="isEndInternship" resultType="int">
		SELECT COUNT(*) FROM tl_c_internship_course
		<![CDATA[
		WHERE TO_CHAR(internship_end_date, 'yyyyMMdd') < SYSDATE
		AND internship_course_pk = #{internship_course_pk}
		]]>
	</select>



</mapper>