<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.c.eunbi.mapper.EunbiExternalSqlMapper">

	<!-- 산업체 학생평가 입력 -->
	<insert id="insertCompanyEvaluation">
		INSERT INTO tl_c_company_evaluation VALUES(
			tl_c_company_evaluation_seq.nextval,
			#{student_intern_pk},
			#{diligence_score},
			#{responsibility_score},
			#{coorporation_score},
			#{achievement_score},
			#{review},
			SYSDATE
		)
	</insert>











</mapper>