<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.c.eunbi.mapper.EunbiProfessorSqlMapper">

	<!-- 담당 학생 조회 -->
	<select id="getChargedStudent" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * FROM TL_JIC_STUDENT_INFO
		WHERE professor_pk = #{professor_pk}
		ORDER BY student_pk ASC
	</select>

	<!-- 담당 현장실습과정조회 -->
	<select id="getChargedInternshipCourse" resultType="com.mkfactory.toothless.c.dto.AjdksInternshipCourseDto">
		SELECT * FROM TL_C_INTERNSHIP_COURSE
		WHERE professor_pk = #{professor_pk}
		ORDER BY applying_start_date ASC
	</select>
	
	<!-- 학생 최종평가 입력 -->	
	<insert id="insertProfessorEvaluation">
		INSERT INTO tl_c_professor_evaluation VALUES(
			tl_c_professor_evaluation_seq.nextval,
			#{student_intern_pk},
			#{professor_pk},
			#{diligence_score},
			#{responsibility_score},
			#{coorporation_score},
			#{achievement_score},
			#{review},
			SYSDATE
		)
	</insert>
	
	<!-- 학생 최종평가 입력 전? 후? -->
	<select id="isExistProfessorEvaluation" resultType="Integer">
		SELECT COUNT(*) FROM tl_c_student_intern si
		INNER JOIN tl_c_professor_evaluation pe
		ON si.student_intern_pk = pe.student_intern_pk
		WHERE si.internship_course_pk = #{internship_course_pk}
		GROUP BY internship_course_pk
	</select>
	
	<!-- 실습생 개개인 평가 했는지 안했는지 -->
	<select id="didProfessorEvaluateIntern" resultType="int">
		SELECT COUNT(*) FROM tl_c_professor_evaluation
		WHERE student_intern_pk = #{student_intern_pk}
	</select>

	<!-- 학생의 담당교수 출력 -->
	<select id="getProfessorInfo" resultType="com.mkfactory.toothless.donot.touch.dto.ProfessorInfoDto">
		SELECT * FROM TL_JIC_PROFESSOR_INFO
		WHERE professor_pk = #{professor_pk}
	</select>

	






</mapper>
