<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.e.freeboardcounsel.mapper.FreeboardCounselSqlMapper">
	
	<insert id="insertFreeboardPosts">
		INSERT INTO cp_student_freeboard VALUES(
			#{id},
			#{student_pk},
			#{title},
			#{text},
			0,
			SYSDATE
		)
	</insert>
	
	<select id="selectfreeboardList" resultType="com.mkfactory.toothless.e.dto.FreeboardDto">
		SELECT * FROM( 
			SELECT csf.* 
			FROM cp_student_freeboard csf
			<if test="searchType != null and searchType == 'name'">
				INNER JOIN tl_jic_student_info tjs ON tjs.STUDENT_PK = csf.STUDENT_PK  
			</if>
			WHERE 1=1
			<if test="searchType != null">
				<choose>
					<when test="searchType == 'title'">
						AND csf.title LIKE '%' || #{searchWord} || '%'
					</when>
				
					<when test="searchType == 'text'">
						AND csf.text LIKE '%' || #{searchWord} || '%'
					</when>
					
					<when test="searchType == 'id'">
						AND csf.id LIKE '%' || #{searchWord} || '%'
					</when>
					
					<when test="searchType == 'name'">
						AND tjs.NAME LIKE '%' || #{searchWord} || '%'
					</when>
				</choose>
			</if>
	 	)
		ORDER BY id DESC 
		
	</select>
	
	<select id="selectStudentInfo" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * FROM TL_JIC_STUDENT_INFO WHERE STUDENT_PK = #{STUDENT_PK}
	</select>
	
	<select id = "selectPostById" resultType="com.mkfactory.toothless.e.dto.FreeboardDto">
		SELECT * FROM cp_student_freeboard WHERE id = #{id}
	</select>
	
	<update id="readCount">
		UPDATE cp_student_freeboard
		SET read_count = read_count +1
		WHERE id = #{id}
	</update>
	
	<select id="selectByStudentId" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * FROM TL_JIC_STUDENT_INFO
		WHERE student_pk = #{student_pk}
	</select>

	<delete id="deleteFreeboardPost">
		DELETE FROM cp_student_freeboard WHERE id= #{id}
	</delete>
	
	<update id="updateFreeboardPost">
		UPDATE cp_student_freeboard 
		SET title= #{title}, text= #{text}
		WHERE id= #{id}
	</update>

	<select id="selectFreeboardCount" resultType="int">
	SELECT Count(*) FROM cp_student_freeboard
	ORDER BY read_count
	</select>
	
	<select id="bestFreeboardPost" resultType="com.mkfactory.toothless.e.dto.FreeboardDto">
		SELECT * FROM(
		SELECT * FROM cp_student_freeboard ORDER BY read_count DESC) 
		WHERE ROWNUM &lt;=2
	</select>
	
	<select id="selectNewPost" resultType="com.mkfactory.toothless.e.dto.FreeboardDto">
		SELECT * FROM 
		(SELECT * FROM cp_student_freeboard
		ORDER BY CREATED_AT DESC)
		WHERE ROWNUM &lt;=3
	</select>
	
	<insert id="insertFreeboardComment">
		INSERT INTO cp_freeboard_comment VALUES(
		cp_freeboard_comment_seq.nextval,
		#{freeboard_id},
		#{student_pk},
		#{text},
		SYSDATE
		)
	</insert>

	<select id="selectFreeboardComment" resultType="com.mkfactory.toothless.e.dto.FreeboardCommentDto">
		 SELECT * FROM cp_freeboard_comment
	</select>
	
	
	<select id="selectStudentInfoForComment" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * FROM TL_JIC_STUDENT_INFO
		WHERE student_pk = #{student_pk}
	</select>
	
	<insert id = "insertImage">
		INSERT INTO cp_freeboard_image VALUES(
		cp_freeboard_image_seq.nextval,
		#{freeboard_id},
		#{freeboard_image_link}
		)
	</insert>
	
	<select id="selectFreeboardImageDto" resultType="com.mkfactory.toothless.e.dto.FreeboardImageDto">
		SELECT * FROM cp_freeboard_image 
		WHERE freeboard_id = #{freeboard_id}
	</select>
	
	<select id="createFreeboardPk" resultType="int">
	 SELECT cp_student_freeboard_seq.nextval FROM Dual
	</select>
	
	
	
</mapper>