<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.e.freeboardcounsel.mapper.FreeboardCounselSqlMapper">
	
	<insert id="insertFreeboardPosts">
		INSERT INTO cp_student_freeboard VALUES(
			cp_student_freeboard_seq.nextval,
			#{student_pk},
			#{title},
			#{text},
			0,
			SYSDATE
		)
	</insert>
	
	<select id="selectfreeboardList" resultType="com.mkfactory.toothless.e.dto.FreeboardDto">
		SELECT * FROM cp_student_freeboard ORDER BY id DESC 
	</select>
	
	<select id="selectStudentInfo" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * FROM TL_JIC_STUDENT_INFO WHERE STUDENT_PK = #{STUDENT_PK}
	</select>
	
	<select id = "selectPostById" resultType="com.mkfactory.toothless.e.dto.FreeboardDto">
		SELECT * FROM cp_student_freeboard WHERE id = #{id}
	</select>
	
	<update id="readCount">
		UPDATE cp_student_freeboard
		SET read_count = read_count +1
		WHERE id = #{id}
	</update>
	
	<select id="selectByStudentId" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * FROM TL_JIC_STUDENT_INFO
		WHERE student_pk = #{student_pk}
	</select>

	<delete id="deleteFreeboardPost">
		DELETE FROM cp_student_freeboard WHERE id= #{id}
	</delete>
	
	<update id="updateFreeboardPost">
		UPDATE cp_student_freeboard 
		SET title= #{title}, text= #{text}
		WHERE id= #{id}
	</update>

</mapper>