<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.e.groupcounsel.mapper.GroupCounselStaffSqlMapper">
	
	<insert id="insertGroupCounsel">
		INSERT INTO cp_group_counsel VALUES(
			cp_group_counsel_seq.nextval,
			#{title},
			#{text},
			#{posterImage},
			#{location},
			#{amount},
			#{counsel_date},
			#{start_apply_date},
			#{end_apply_date},
			SYSDATE
		)	
	</insert>

	<select id="selectGroupCounselList" resultType="com.mkfactory.toothless.e.dto.GroupCounselDto">
		SELECT * FROM cp_group_counsel
		ORDER BY id ASC
	</select>
	
	<select id="selectGroupCounselById" resultType="com.mkfactory.toothless.e.dto.GroupCounselDto">
		SELECT * FROM cp_group_counsel
		WHERE id=#{id}
	</select>
	
</mapper>