<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.b.dy.staffboard.mapper.StaffboardSqlMapper">
					
	<insert id="insertStaffboardText">
		INSERT INTO TL_B_STAFF_NOTICEBOARD values(
			TL_B_STAFF_NOTICEBOARD_seq.nextval,
			#{staff_pk},
			#{title},
			#{content},
			0,
			sysdate		
		)
	</insert>

	<select id="selectBoardContentsInfo" resultType="com.mkfactory.toothless.b.dto.StaffNoticeboardDto">
		SELECT * FROM tl_b_staff_noticeboard ORDER BY staff_noticeboard_pk DESC
	</select>

	<select id="selectStaffInfo" resultType="com.mkfactory.toothless.donot.touch.dto.StaffInfoDto">
		SELECT * FROM TL_JIC_STAFF_INFO WHERE STAFF_PK = #{staff_pk}
	</select>
	
	<select id="selectContentsDetailInfo" resultType="com.mkfactory.toothless.b.dto.StaffNoticeboardDto">
		SELECT * FROM tl_b_staff_noticeboard WHERE staff_noticeboard_pk = #{staff_noticeboard_pk}
	</select>
	
	<update id="updateTextReadCount">
		UPDATE TL_B_STAFF_NOTICEBOARD SET READ_COUNT = READ_COUNT +1 WHERE staff_noticeboard_pk = #{staff_noticeboard_pk}
	</update>
	
	<delete id="deleteText">
		DELETE FROM TL_B_STAFF_NOTICEBOARD WHERE staff_noticeboard_pk = #{staff_noticeboard_pk}
	</delete>
	
	<update id="updateModifyText">
		UPDATE TL_B_STAFF_NOTICEBOARD SET title = #{title}, content = #{content} WHERE staff_noticeboard_pk = #{staff_noticeboard_pk}
	</update>
	
</mapper>

