<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.b.dy.staffboard.mapper.StaffboardSqlMapper">
					
	<insert id="insertStaffboardText">
		INSERT INTO TL_B_STAFFBOARD values(
			TL_B_STAFFBOARD_seq.nextval,
			#{staff_pk},
			#{title},
			#{content},
			0,
			sysdate		
		)
	</insert>

	<select id="selectBoardContentsInfo" resultType="com.mkfactory.toothless.b.dto.StaffboardDto">
		SELECT * FROM tl_b_staffboard ORDER BY staffboard_pk DESC
	</select>

	<select id="selectStaffInfo" resultType="com.mkfactory.toothless.donot.touch.dto.StaffInfoDto">
		SELECT * FROM TL_JIC_STAFF_INFO WHERE STAFF_PK = #{staff_pk}
	</select>
	
	<select id="selectContentsDetailInfo" resultType="com.mkfactory.toothless.b.dto.StaffboardDto">
		SELECT * FROM tl_b_staffboard WHERE staffboard_pk = #{staffboard_pk}
	</select>
	
	<update id="updateTextReadCount">
		UPDATE TL_B_STAFFBOARD SET READ_COUNT = READ_COUNT +1 WHERE staffboard_pk = #{staffboard_pk}
	</update>
	
	<delete id="deleteText">
		DELETE FROM TL_B_STAFFBOARD WHERE staffboard_pk = #{staff_board_pk}
	</delete>
	
	<update id="updateModifyText">
		UPDATE TL_B_STAFFBOARD SET title = #{title}, content = #{content} WHERE staffboard_pk = #{staffboard_pk}
	</update>
	
	<insert id="insertWriteReply">
		INSERT INTO TL_B_STAFFBOARD_REPLY values(
			TL_B_STAFFBOARD_REPLY_seq.nextval,
			#{staff_pk},
			#{staffboard_pk},
			#{content},
			sysdate
		)	
	</insert>
	
	<select id="selectContentReplyInfo" resultType="com.mkfactory.toothless.b.dto.StaffboardReplyDto">
		SELECT * FROM TL_B_STAFFBOARD_REPLY WHERE STAFFBOARD_PK = #{staffboard_pk} ORDER BY STAFFBOARD_REPLY_PK DESC
	</select>
	
	<delete id="deleteReply">
		DELETE FROM TL_B_STAFFBOARD_REPLY WHERE staff_pk= #{staff_pk} and STAFFBOARD_REPLY_PK = #{staffboard_reply_pk}
	</delete>
	
	<select id="selectReply" resultType="com.mkfactory.toothless.b.dto.StaffboardReplyDto">
		SELECT * FROM TL_B_STAFFBOARD_REPLY WHERE STAFFBOARD_REPLY_PK = #{staffboard_reply_pk}
	</select>
	
	 <update id="updateReply">
		UPDATE TL_B_STAFFBOARD_REPLY SET content = #{content} WHERE STAFFBOARD_REPLY_PK = #{staffboard_reply_pk}
	</update>
	

	<!--좋아요-->
	<insert id="insertAddLike">
		INSERT INTO tl_b_staffboard_like values(
			tl_b_staffboard_like_seq.nextval,
			#{staff_pk},
			#{staffboard_pk},
			sysdate
		)
	</insert>

	<delete id="deleteCanselLike">
		DELETE FROM tl_b_staffboard_like WHERE staff_pk = #{staff_pk} AND staffboard_pk = #{staffboard_pk}
	</delete>
	
	<select id="selectCheckLike" resultType="int">
		SELECT COUNT(*) FROM tl_b_staffboard_like WHERE staff_pk = #{staff_pk} AND staffboard_pk = #{staffboard_pk}
	</select>

</mapper>















