<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.b.hn.clinic.mapper.ClinicSqlMapper">
	
	<select id="getAllClinicPatientInfoList" resultType="com.mkfactory.toothless.b.dto.ClinicPatientDto">
		SELECT * FROM (
			SELECT cpi.*, rownum rnum FROM tl_b_clinic_patient_info cpi	
		)t1
		<![CDATA[
			WHERE t1.rnum <= 20
		]]>
	</select>
	
	<select id="getClinicPatientInfoByClinicPatientPk" resultType="com.mkfactory.toothless.b.dto.ClinicPatientDto">
		SELECT * FROM tl_b_clinic_patient_info WHERE clinic_patient_pk = #{clinic_patient_pk}
	</select>
	
	<select id="getClinicPatientLogInfoListByClinicPatientPk" resultType="com.mkfactory.toothless.b.dto.ClinicPatientLogDto">
		SELECT * FROM tl_b_clinic_patient_log WHERE clinic_patient_pk = #{clinic_patient_pk}
	</select>
	
	<select id="getPrescriptionInfoListByClinicPatientLogPk" resultType="com.mkfactory.toothless.b.dto.PrescriptionDto">
		SELECT * FROM tl_b_prescription_info WHERE clinic_patient_log_pk = #{clinic_patient_log_pk}
	</select>
	
	<select id="getMedicineNameByMedicineCodePk" resultType="String">
		SELECT name FROM tl_b_medicine_code_info WHERE medicine_code_pk = #{medicine_code_pk}
	</select>
	
	<select id="getMedicineInfoList" resultType="com.mkfactory.toothless.b.dto.MedicineCodeDto">
		SELECT * FROM tl_b_medicine_code_info
	</select>
	
</mapper>