<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.b.hn.clinic.mapper.ClinicSqlMapper">

	<insert id="insertWaitingClinicPatientInfo">
		INSERT INTO tl_b_clinic_patient_wait VALUES(
			tl_b_clinic_patient_wait_seq.nextval,
			#{clinic_patient_pk},
			'N',
			SYSDATE,
			SYSDATE
		)
	</insert>
	
	<insert id="insertNewClinicPatientInfo">
		INSERT INTO tl_b_clinic_patient_info VALUES(
			tl_b_clinic_patient_info_seq.nextval,
			#{resident_id},
			#{name},
			0,
			#{address},
			#{phone},
			#{birth},
			SYSDATE
		)
	</insert>
	
	<insert id="insertClinicPatientLogInfo">
		INSERT INTO tl_b_clinic_patient_log VALUES(
			#{clinic_patient_log_pk},
			#{clinic_patient_pk},
			#{staff_pk},
			#{disease_code_pk},
			#{content},
			SYSDATE
		)
	</insert>
	
	<insert id="insertPrescriptionInfo">
		INSERT INTO tl_b_prescription_info VALUES(
			tl_b_prescription_info_seq.nextval,
			#{clinic_patient_log_pk},
			#{medicine_code_pk},
			-#{quantity},
			SYSDATE
		)
	</insert>

	<select id="getClinicPatientInfoList" resultType="com.mkfactory.toothless.b.dto.ClinicPatientDto">
		SELECT t1.* FROM (
			SELECT cpi.*, rownum rnum FROM tl_b_clinic_patient_info cpi
			<if test="searchWord != null">
				WHERE cpi.name LIKE '%'||#{searchWord}||'%'
				OR TO_CHAR(cpi.birth, 'yyMMdd') LIKE #{searchWord}
			</if>
			ORDER BY cpi.name ASC
		)t1
		<![CDATA[
			WHERE t1.rnum >= (#{pageNumber}-1)*20 + 1 AND t1.rnum <= #{pageNumber}*20
		]]>
	</select>
	
	<select id="getClinicPatientClassifyByResidentId" resultType="String">
		SELECT classify FROM (
			SELECT resident_id, '학생' AS classify FROM tl_jic_student_info
			UNION
			SELECT resident_id, '교직원' AS classify FROM tl_jic_staff_info
			UNION
			SELECT resident_id, '교수' AS classify FROM tl_jic_professor_info
		)
		WHERE resident_id = #{resident_id}
	</select>
	
	<select id="getClinicPatientTotalPageNumber" resultType="int">
		SELECT COUNT(*) FROM tl_b_clinic_patient_info
		<if test="value != null">
			WHERE name LIKE '%'||#{searchWord}||'%'
			OR TO_CHAR(birth, 'yyMMdd') LIKE #{searchWord}
		</if>
	</select>
	
	<select id="getWaitingClinicPatientPkList" resultType="int">
		SELECT t1.clinic_patient_pk FROM (
			SELECT cpw.*, rownum rnum FROM tl_b_clinic_patient_wait cpw
			WHERE cpw.status LIKE 'N'
		)t1
		<![CDATA[
			WHERE t1.rnum >= (#{pageNumber}-1)*20 + 1 AND t1.rnum <= #{pageNumber}*20
		]]>
		ORDER BY created_at ASC
	</select>
	
	<select id="getClinicPatientInfoByClinicPatientPk" resultType="com.mkfactory.toothless.b.dto.ClinicPatientDto">
		SELECT clinic_patient_pk, resident_id, name, TO_NUMBER(TO_CHAR(SYSDATE, 'yyyy')-TO_CHAR(birth, 'yyyy')+1) AS age,
			address, phone, birth, created_at FROM tl_b_clinic_patient_info
		WHERE clinic_patient_pk = #{clinic_patient_pk}
	</select>
	
	<select id="getWaitingClinicPatientTotalPageNumber" resultType="int">
		SELECT COUNT(*) FROM tl_b_clinic_patient_wait
		WHERE status LIKE 'N'
	</select>
	
	<select id="getNewClinicPatientInfoByResidentId" resultType="com.mkfactory.toothless.b.dto.ClinicPatientDto">
		SELECT t1.* FROM (
			SELECT resident_id, name, address, phone, birth, '학생' AS classify FROM tl_jic_student_info
			UNION
			SELECT resident_id, name, address, phone, birth, '교직원' AS classify FROM tl_jic_staff_info
			UNION
			SELECT resident_id, name, address, phone, birth, '교수' AS classify FROM tl_jic_professor_info
		)t1
		WHERE t1.resident_id LIKE #{resident_id}
	</select>
	
	<select id="getClinicPatientPkByResidentId" resultType="int">
		SELECT clinic_patient_pk FROM tl_b_clinic_patient_info WHERE resident_id LIKE #{resident_id}
	</select>
	
	<select id="getClinicPatientLogInfoListByClinicPatientPk" resultType="com.mkfactory.toothless.b.dto.ClinicPatientLogDto">
		SELECT * FROM tl_b_clinic_patient_log WHERE clinic_patient_pk = #{clinic_patient_pk}
	</select>
	
	<select id="getStaffNameByStaffPk" resultType="String">
		SELECT name FROM tl_jic_staff_info WHERE staff_pk = #{staff_pk}
	</select>
	
	<select id="getDiseaseNameByDiseaseCodePk" resultType="String">
		SELECT name FROM tl_b_disease_code_info WHERE disease_code_pk = #{disease_code_pk}
	</select>
	
	<select id="getClinicPatientLogInfoByClinicPatientLogPk" resultType="com.mkfactory.toothless.b.dto.ClinicPatientLogDto">
		SELECT * FROM tl_b_clinic_patient_log WHERE clinic_patient_log_pk = #{clinic_patient_log_pk}
	</select>
	
	<select id="getPrescriptionInfoListByClinicPatientLogPk" resultType="com.mkfactory.toothless.b.dto.PrescriptionDto">
		SELECT * FROM tl_b_prescription_info WHERE clinic_patient_log_pk = #{clinic_patient_log_pk}
	</select>
	
	<select id="getMedicineNameByMedicineCodePk" resultType="String">
		SELECT name FROM tl_b_medicine_code_info WHERE medicine_code_pk = #{medicine_code_pk}
	</select>
	
	<select id="getDiseaseCodeInfoList" resultType="com.mkfactory.toothless.b.dto.DiseaseCodeDto">
		SELECT * FROM tl_b_disease_code_info
	</select>
	
	<select id="getMedicineCodeInfoList" resultType="com.mkfactory.toothless.b.dto.MedicineCodeDto">
		SELECT * FROM tl_b_medicine_code_info
		WHERE medicine_code_pk NOT IN
		<foreach collection="array" item="arr" open="(" close=")" separator=",">
			#{arr}
		</foreach>
	</select>
	
	<select id="getMedicineMaxQuantity" resultType="int">
		SELECT NVL(SUM(t1.quantity), 0) AS quantity FROM (
			SELECT medicine_code_pk, quantity, '입고' AS classify FROM tl_b_medicine_add
			union
			SELECT medicine_code_pk, quantity, '출고' AS classify FROM tl_b_prescription_info
			union
			SELECT medicine_code_pk, quantity, '기타' AS classify FROM tl_b_medicine_inventory
		)t1 WHERE t1.medicine_code_pk = #{medicine_code_pk}
	</select>
	
	<select id="getClinicPatientlogPk" resultType="int">
		SELECT tl_b_clinic_patient_log_seq.nextval FROM dual
	</select>
	
	<update id="updateWaitingStatus">
		UPDATE tl_b_clinic_patient_wait SET status = 'Y'
		WHERE clinic_patient_pk = #{clinic_patient_pk}
	</update>
	
	<select id="isAlreadyWaiting" resultType="int">
		SELECT COUNT(*) FROM tl_b_clinic_patient_wait
		WHERE clinic_patient_pk = #{clinic_patient_pk}
		AND status LIKE 'N'
	</select>
	
	<select id="isAlreadyPatient" resultType="int">
		SELECT COUNT(*) FROM tl_b_clinic_patient_info
		WHERE resident_id = #{resident_id}
	</select>
	
</mapper>