<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.d.ny.posting.mapper.PostingSqlMapper">

	<!-- 교직원 -->

	<!-- 채용공고 시퀀스 -->
	<select id="createJobPostingPk" resultType="int">
		SELECT tl_d_job_posting_seq.nextval FROM Dual
	</select>

	<!-- 채용공고등록 -->
	<insert id="insertJobPostingInfo">
		INSERT INTO TL_D_JOB_POSTING VALUES(
			#{job_posting_pk},
			#{com_pk},
			#{staff_pk},
			#{job_field_category_pk},
			#{posting_name},
			#{job_position},
			#{posting_mainimage},
			#{posting_contents},
			#{preference},
			#{hire_number},
			#{posting_deadline},
			SYSDATE
		)
	</insert>
	
	<!-- 채용분야 카테고리 출력 -->
	<select id="selectJobFieldCategoryList" resultType="com.mkfactory.toothless.d.dto.JobFieldCategoryDto">
		SELECT * FROM TL_D_JOB_FIELD_CATEGORY tdjfc
		ORDER BY tdjfc.JOB_FIELD_CATEGORY_PK ASC
	</select>
	
	<!-- 사업자번호 조회 -->
	<select id="selectComPkByBusinessNumber" resultType="int">
		SELECT tdc.COM_PK FROM TL_D_COMPANY tdc 
		WHERE tdc.BUSINESS_NUMBER LIKE #{BUSINESS_NUMBER}
	</select>
	
	<!-- 사업자번호 확인용 기업리스트 출력 -->
	<select id="selectCompanyList" resultType="com.mkfactory.toothless.d.dto.CompanyDto">
		SELECT * FROM TL_D_COMPANY
	</select>
	
	<!-- 총 공고 수 출력 -->
	<select id="selectPostingCount" resultType="int" parameterType="java.util.Map">
		SELECT count(*) FROM tl_d_job_posting tdjp
	</select>
	
	<!-- 공고 리스트 출력  -->
<!-- 	<select id="selectPostingList" resultType="com.mkfactory.toothless.d.dto.JobPostingDto">
		SELECT * FROM TL_D_JOB_POSTING tdjp
		ORDER BY tdjp.CREATED_AT DESC
	</select> -->
	
	<!-- 공고리스트 출력(검색 포함) -->
 	<select id="selectPostingList" resultType="com.mkfactory.toothless.d.dto.JobPostingDto">
		SELECT * 
		FROM TL_D_JOB_POSTING tdjp 
		WHERE 1 = 1
		<if test="searchType != null">
			<choose>
				<when test="searchType == 'posting_name'">
					AND tdjp.POSTING_NAME  LIKE '%' || #{searchWord} ||'%' 
				</when>
				<when test="searchType == 'job_position'">
					AND tdjp.JOB_POSITION  LIKE '%' || #{searchWord} || '%'
				</when>
				<when test="searchType == 'posting_contents'">
					AND tdjp.POSTING_CONTENTS LIKE '%' || #{searchWord} || '%'
				</when>
			</choose>  
		</if>
		ORDER BY tdjp.CREATED_AT DESC  
	</select> 
	
	
	<!-- 기업 + 채용공고  -->
	<select id="selectByCompanyPk" resultType="com.mkfactory.toothless.d.dto.CompanyDto">
		SELECT * FROM TL_D_COMPANY tdc 
		WHERE tdc.COM_PK = #{com_pk}
	</select>
	
	<!-- 채용분야 + 채용공고  -->
	<select id="selectByJobFieldCategoryPk" resultType="com.mkfactory.toothless.d.dto.JobFieldCategoryDto">
		SELECT * FROM TL_D_JOB_FIELD_CATEGORY tdjfc 
		WHERE tdjfc.JOB_FIELD_CATEGORY_PK = #{job_field_category_pk}
	</select>
	
	<!-- 마감임박 채용공고 -->
	<select id="selectPostingDeadline" resultType="int">
		SELECT tdjp.JOB_POSTING_PK FROM TL_D_JOB_POSTING tdjp 
		WHERE tdjp.POSTING_DEADLINE BETWEEN (SYSDATE) AND (SYSDATE + (72/24))
	</select>
	
	<!-- 마감종료 채용공고 -->
	<select id="selectEndPosting" resultType="int">
		SELECT tdjp.JOB_POSTING_PK FROM TL_D_JOB_POSTING tdjp
		<![CDATA[  
		WHERE tdjp.POSTING_DEADLINE <= (SYSDATE)
		]]>
	</select>
	
	<!-- 기업별 공고 수 -->
	<select id="selectCompanyPostingCount" resultType="int">
		SELECT count(*) FROM TL_D_JOB_POSTING tdjp 
		WHERE tdjp.COM_PK = #{com_pk}
	</select>
	
	<!-- 기업별 채용공고 -->
	<select id="selectPostingListByComPk" resultType="com.mkfactory.toothless.d.dto.JobPostingDto">
		SELECT * FROM TL_D_JOB_POSTING tdjp
		WHERE tdjp.com_pk = #{com_pk}
		ORDER BY tdjp.CREATED_AT DESC 
	</select>
	
	<!-- 채용공고 상세리스트 -->
	<select id="selectPostingDetailByJobPostingPk" resultType="com.mkfactory.toothless.d.dto.JobPostingDto">
		SELECT * FROM TL_D_JOB_POSTING tdjp 
		WHERE tdjp.JOB_POSTING_PK = #{job_posting_pk}
	</select>
	
	<!-- 기업담당자 + 기업 -->
	<select id="selectByComManagerPk" resultType="com.mkfactory.toothless.d.dto.CompanyManagerDto">
		SELECT * FROM TL_D_COMPANY_MANAGER tdcm 
		WHERE tdcm.COM_MANAGER_PK = #{com_manager_pk}
	</select>	
	
	<!-- 기업규모 + 기업 -->
	<select id="selectByComScaleCategoryPk" resultType="com.mkfactory.toothless.d.dto.ComScaleCategoryDto">
		SELECT * FROM TL_D_COM_SCALE_CATEGORY tdcsc 
		WHERE tdcsc.COM_SCALE_CATEGORY_PK = #{com_scale_category_pk}
	</select>
	
	<!-- 디데이 -->
	<select id="selectPostingDeadlineDDay" resultType="int">
		SELECT CEIL((tdjp.POSTING_DEADLINE - SYSDATE)) FROM TL_D_JOB_POSTING tdjp 
		WHERE 1 = 1 
		AND tdjp.POSTING_DEADLINE BETWEEN (SYSDATE) AND (SYSDATE + (72/24))
		AND tdjp.JOB_POSTING_PK = #{job_posting_pk}
	</select>
	
	<!-- 채용공고 삭제 -->
	<delete id="deleteJobPostingByJobPostingPk">
		DELETE FROM TL_D_JOB_POSTING tdjp 
		WHERE tdjp.JOB_POSTING_PK = #{job_posting_pk}	
	</delete>
	
	<!-- 채용공고 수정 -->
	<update id="updateJobPostingInfo">
		UPDATE TL_D_JOB_POSTING 
		SET 
		STAFF_PK = #{staff_pk}, 
		JOB_FIELD_CATEGORY_PK = #{job_field_category_pk}, 
		POSTING_NAME = #{posting_name}, 
		JOB_POSITION = #{job_position},
		POSTING_MAINIMAGE = #{posting_mainimage}, 
		POSTING_CONTENTS = #{posting_contents}, 
		PREFERENCE = #{preference},
		HIRE_NUMBER = #{hire_number}, 
		POSTING_DEADLINE = #{posting_deadline},
		CREATED_AT = SYSDATE 
		WHERE job_posting_pk = #{job_posting_pk}
	</update>
	
	
	<!-- 학생 -->
	
	<!-- 학생 마이페이지용 관심공고 목록(4개 컷 + 채용마감일순) -->
	<select id="selectInterestPostingListForMyPage" resultType="com.mkfactory.toothless.d.dto.JobPostingDto">
		SELECT * 
		FROM (
			SELECT tdjp.* 
			FROM TL_D_JOB_POSTING tdjp 
			WHERE tdjp.JOB_POSTING_PK IN (
				SELECT JOB_POSTING_PK 
				FROM TL_D_INTEREST_POSTING 
				WHERE student_pk = #{student_pk}
			)
			ORDER BY POSTING_DEADLINE ASC 
		)
		<![CDATA[
		WHERE rownum <= 4
		]]>
	</select>
	
	<!-- 학생 마이페이지 총 관심공고 리스트 -->
	<select id="selectTotalInterestPostingList" resultType="com.mkfactory.toothless.d.dto.JobPostingDto">
		SELECT tdjp.* 
		FROM TL_D_JOB_POSTING tdjp 
		WHERE tdjp.JOB_POSTING_PK IN (
			SELECT tdip.JOB_POSTING_PK 
			FROM TL_D_INTEREST_POSTING tdip 
			WHERE tdip.STUDENT_PK = #{student_pk}
		)
		ORDER BY tdjp.POSTING_DEADLINE ASC 
	</select>
	
	<!-- 학생이 단 관심공고 수 -->
	<select id="selectTotalInterestPostingCount" resultType="int">
		SELECT count(*) FROM TL_D_INTEREST_POSTING tdip  
		WHERE tdip.STUDENT_PK = #{student_pk}
	</select>

	<!-- 학생 공고리스트용 관심기업 -->
	<select id="selectInterestCompanyByStudentPk" resultType="int">
		SELECT tdic.COM_PK FROM TL_D_INTEREST_COMPANY tdic
		WHERE tdic.STUDENT_PK = #{student_pk}
	</select>
	
	
	<!-- 기업 -->
	
	<!-- 기업 + 외부인 -->
	<select id="selectByExternalPk" resultType="com.mkfactory.toothless.d.dto.CompanyDto">
		SELECT tdc.* 
		FROM TL_D_COMPANY tdc
		WHERE tdc.COM_MANAGER_PK IN (
			SELECT tdcm.COM_MANAGER_PK 
			FROM TL_D_COMPANY_MANAGER tdcm
			WHERE tdcm.EXTERNAL_PK = #{external_pk}
		)
	</select>
	
	<!-- 공고스크랩 추가 -->
	<insert id="insertInterestPosting">
		INSERT INTO TL_D_INTEREST_POSTING VALUES(
			tl_d_interest_posting_seq.nextval,
			#{job_posting_pk},
			#{student_pk}
		)
	</insert>
	
	<!-- 공고스크랩 삭제 -->
	<delete id="deleteInterestPosting">
		DELETE FROM TL_D_INTEREST_POSTING 
		WHERE job_posting_pk = #{job_posting_pk}
		AND student_pk = #{student_pk}
	</delete>
	
	<!-- 공고스크랩 했던가? -->
	<select id="selectMyPostingInterestCount" resultType="int">
		SELECT count(*) FROM TL_D_INTEREST_POSTING 
		WHERE job_posting_pk = #{job_posting_pk}
		AND student_pk = #{student_pk} 
	</select>
	
	<!-- 총 공고스크랩 -->
	<select id="selectAllInterestPosting" resultType="int">
		SELECT count(*) FROM TL_D_INTEREST_POSTING 
		WHERE job_posting_pk = #{job_posting_pk}
	</select>
	
	<!-- 공고별 스크랩한 학생 목록 -->
	<select id="selectStudentInterestList" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT tjsi.* 
		FROM TL_JIC_STUDENT_INFO tjsi 
		WHERE tjsi.STUDENT_PK IN (
			SELECT STUDENT_PK 
			FROM TL_D_INTEREST_POSTING 
			WHERE job_posting_pk = #{job_posting_pk}
		)
	</select>
	
	<!-- 졸업여부 리스트 -->
	<select id="selectGraduationList" resultType="int">
		SELECT STUDENT_PK FROM TL_JIC_GRADUATION_INFO
	</select>
	
	<!-- 기업 메인페이지용 공고 목록 4개(마감임박 + 지원자 많은 순) -->
	<select id="selectPostingListForCompanyMainPage" resultType="com.mkfactory.toothless.d.dto.JobPostingDto">
		SELECT tdjp.* 
		FROM TL_D_JOB_POSTING tdjp 
		WHERE tdjp.COM_PK = #{com_pk}
		AND tdjp.JOB_POSTING_PK IN (
			SELECT t2.JOB_POSTING_PK 
			FROM(
				SELECT t1.JOB_POSTING_PK 
				FROM (
					SELECT tdv.job_posting_pk 
					FROM TL_D_VOLUNTEER tdv 
					GROUP BY tdv.JOB_POSTING_PK 
					ORDER BY count(*) DESC  
				)t1
				<![CDATA[
				WHERE ROWNUM <= 4
				]]>
			)t2
		)
		ORDER BY tdjp.POSTING_DEADLINE ASC
	</select>
	
	<!-- 공고별 지원한 학생 -->
	<select id="selectApplyStudentList" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * 
		FROM TL_JIC_STUDENT_INFO tjsi 
		WHERE tjsi.STUDENT_PK IN (
			SELECT tdr.STUDENT_PK 
			FROM TL_D_RESUME tdr 
			WHERE tdr.RESUME_PK IN (
				SELECT resume_pk 
				FROM TL_D_VOLUNTEER u
				WHERE u.job_posting_pk = #{job_posting_pk}
			)
		)
	</select>
	
	<!-- 기업 메인페이지용 지원 학생 -->
	<select id="selectApplyStudentListForCompany" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT *
		FROM (
		    SELECT tjsi.*, 
		           ROW_NUMBER() OVER (ORDER BY tdjp.POSTING_DEADLINE ASC) AS rnum
		    FROM TL_JIC_STUDENT_INFO tjsi
		    JOIN TL_D_RESUME tdr ON tjsi.STUDENT_PK = tdr.STUDENT_PK
		    JOIN TL_D_VOLUNTEER tdv ON tdr.RESUME_PK = tdv.RESUME_PK
		    JOIN TL_D_JOB_POSTING tdjp ON tdv.JOB_POSTING_PK = tdjp.JOB_POSTING_PK
		    JOIN TL_D_COMPANY tdc ON tdjp.COM_PK = tdc.COM_PK
		    WHERE tdc.COM_PK = #{com_pk}
		)
		<![CDATA[
		WHERE rnum <= 4
		]]>
	</select>
	
	<!-- 지원학생 리스트 카운트 -->
	
	<!-- 지원학생 리스트 -->
	<select id="selectApplyStudentTotalList" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT tjsi.* 
		FROM TL_JIC_STUDENT_INFO tjsi
		JOIN TL_D_RESUME tdr ON tjsi.STUDENT_PK = tdr.STUDENT_PK
		JOIN TL_D_VOLUNTEER tdv ON tdr.RESUME_PK = tdv.RESUME_PK
		JOIN TL_D_JOB_POSTING tdjp ON tdv.JOB_POSTING_PK = tdjp.JOB_POSTING_PK
		JOIN TL_D_COMPANY tdc ON tdjp.COM_PK = tdc.COM_PK
		WHERE tdc.COM_PK = #{com_pk}
		ORDER BY tdjp.POSTING_DEADLINE ASC 
	</select>
	
	<!-- 기업 메인페이지용 관심기업 학생 -->
	<select id="selectMyCompanyInterestStudentList" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT *
		FROM (
		    SELECT tjsi.*
		    FROM TL_JIC_STUDENT_INFO tjsi
		    WHERE tjsi.STUDENT_PK IN (
		        SELECT tdic.STUDENT_PK
		        FROM TL_D_INTEREST_COMPANY tdic
		        WHERE tdic.COM_PK = #{com_pk}
		    )
		    <![CDATA[
		    AND ROWNUM <= 4
		    ]]>
		) t1
	</select>
	
	<!-- 관심기업학생 리스트 -->
	<select id="selectMyCompanyInterestTotalList" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT *
		FROM (
		    SELECT tjsi.*
		    FROM TL_JIC_STUDENT_INFO tjsi
		    WHERE tjsi.STUDENT_PK IN (
		        SELECT tdic.STUDENT_PK
		        FROM TL_D_INTEREST_COMPANY tdic
		        WHERE tdic.COM_PK = #{com_pk} 
			)
		)
	</select>
	
	<!-- 학생 + 학과  -->
	<select id="selectByDepartmentPk" resultType="String">
		SELECT tjdc.name FROM TL_JIC_DEPARTMENT_CATEGORY tjdc 
		WHERE tjdc.DEPARTMENT_PK = #{department_pk}
	</select>
	
	<!-- 중복지원 방지용 지원자 -->
	<select id="selectMyApplyByStudentPk" resultType="int">
		SELECT tdv.JOB_POSTING_PK 
		FROM TL_D_VOLUNTEER tdv 
		WHERE tdv.RESUME_PK IN (
			SELECT tdr.RESUME_PK 
			FROM TL_D_RESUME tdr 
			WHERE tdr.STUDENT_PK IN (
				SELECT tjsi.STUDENT_PK 
				FROM TL_JIC_STUDENT_INFO tjsi 	
				WHERE tjsi.STUDENT_PK = #{student_pk}
			)
		)
	</select>
	
	
</mapper>