<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkfactory.toothless.e.notice.mapper.NoticeSqlMapper">
	
	<select id="createNoticePk" resultType="int">
		SELECT cp_notice_seq.nextval FROM dual
	</select>
	<!-- 공지사항 추가 -->
	<insert id="insertNoticeArticle">
		INSERT INTO cp_notice values(
			#{id},
			#{staff_pk},
			#{title},
			#{text},
			0,
			SYSDATE
		)
	</insert>
	<!-- 공지사항 이미지 추가 -->
	<insert id="insertNoticeImage">
		INSERT INTO cp_notice_image values(
			cp_notice_image_seq.nextval,
			#{notice_id},
			#{notice_image_link}
		)
	</insert>
	<!-- 공지사항 출력 -->
	<select id="selectNoticeList" resultType="com.mkfactory.toothless.e.dto.NoticeBoardDto">
		SELECT * FROM CP_NOTICE cn 
		INNER JOIN TL_JIC_STAFF_INFO tjsi 
		ON cn.STAFF_PK = tjsi.STAFF_PK
		WHERE 1=1
		<if test="searchType != null">
			<choose>
				<when test="searchType == 'title'">
					AND cn.TITLE LIKE '%' || #{searchWord} || '%'
				</when>
				<when test="searchType == 'text'">
					AND cn.TEXT LIKE '%' || #{searchWord} || '%'
				</when>
				<when test="searchType == 'name'">
					AND tjsi.NAME LIKE '%' || #{searchWord} || '%'
				</when>
			</choose>
		</if>
		ORDER BY cn.id desc
	</select>		
	<!-- 교직원정보 검색 -->
	<select id="selectStaffInfoByStaff_Pk" resultType="com.mkfactory.toothless.donot.touch.dto.StaffInfoDto">
		SELECT * FROM tl_jic_staff_info 
		WHERE staff_pk = #{staff_pk}
	</select>
	<!-- 글 번호별 이미지 출력 -->
	<select id="selectNoticeImageByNotice_Id" resultType="com.mkfactory.toothless.e.dto.NoticeImageDto">
		SELECT * FROM cp_notice_image 
		WHERE notice_id = #{notice_id}
	</select>
	<!-- 글 번호별 공지사항 출력 -->
	<select id="selectNoticeBoardById" resultType="com.mkfactory.toothless.e.dto.NoticeBoardDto">
		SELECT * FROM cp_notice WHERE id = #{id}
	</select>
	<!-- 공지사항 조회수 증가 -->
	<update id="increaseReadCount">
		UPDATE cp_notice 
		SET read_count = read_count + 1
		WHERE id = #{id}
	</update>
	<!-- 공지사항 삭제 -->
	<delete id="deleteNoticeArticle">
		DELETE FROM cp_notice
		WHERE id = #{id}
	</delete>
	<!-- 공지사항 텍스트 수정 -->
	<update id="updateNoticeArticle">
		UPDATE cp_notice 
		SET title = #{title}, text = #{text}
		WHERE id = #{id}
	</update>
	<!-- 공지사항 댓글 추가 -->
	<insert id="insertNoticeComment">
		INSERT INTO cp_notice_comment values(
			cp_notice_comment_seq.nextval,
			#{notice_id},
			#{student_pk},
			#{text},
			SYSDATE
		)
	</insert>
	<!-- 공지사항 댓글 출력 -->
	<select id="selectCommentByNotice_Id" resultType="com.mkfactory.toothless.e.dto.NoticeCommentDto">
		SELECT * FROM cp_notice_comment
		WHERE notice_id = #{notice_id}
	</select>
	<select id="selectStudentInfoByStudent_Pk" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * FROM tl_jic_student_info
		WHERE student_pk = #{student_pk}
	</select>
	<!-- 공지사항 댓글 삭제 -->
	<delete id="deleteNoticeComment">
		DELETE FROM cp_notice_comment
		WHERE id = #{id}
	</delete>
	<!-- 공지사항 추천 판별 -->
	<select id="noticeLikeCheck" resultType="int">
		SELECT COUNT(*) FROM cp_notice_like 
		WHERE notice_id = #{notice_id} 
		AND student_pk = #{student_pk}
	</select>
	<!-- 공지사항 추천 판별 좋아요! -->
	<select id="noticeUpThumbCheck" resultType="int">
		SELECT count(*) FROM cp_notice_like
		WHERE notice_id = #{notice_id} 
		AND student_pk = #{student_pk} 
		AND notice_like = 1
	</select>
	<!-- 공지사항 추천 판별 싫어요! -->
	<select id="noticeDownThumbCheck" resultType="int">
		SELECT count(*) FROM cp_notice_like
		WHERE notice_id = #{notice_id} 
		AND student_pk = #{student_pk} 
		AND notice_dislike = 1
	</select>
	<!-- 공지사항 추천 추가 -->
	<insert id="insertThumb">
		INSERT INTO cp_notice_like values(
			cp_notice_like_seq.nextval,
			#{notice_id},
			#{student_pk},
			#{notice_like},
			#{notice_dislike}
		)
	</insert>
	<!-- 공지사항 추천 삭제 -->
	<delete id="deleteNoticeLike">
		DELETE FROM cp_notice_like
		WHERE notice_id = #{notice_id} 
		AND student_pk = #{student_pk}
		AND notice_like = 1
	</delete>
	<delete id="deleteNoticeDisLike">
		DELETE FROM cp_notice_like
		WHERE notice_id = #{notice_id} 
		AND student_pk = #{student_pk}
		AND notice_dislike = 1
	</delete>
	<!-- 공지사항 댓글 갯수 -->
	<select id="commentCountByNotice_id" resultType="int">
		SELECT COUNT(*) FROM cp_notice_comment
		WHERE notice_id = #{notice_id}
	</select>
	<!-- 공지사항 추천 갯수 -->
	<select id="likeCountByNotice_id" resultType="int">
		SELECT COUNT(*) FROM cp_notice_like
		WHERE NOTICE_ID = #{notice_id} 
		AND notice_like = 1
	</select>
	<!-- 공지사항 비추천 갯수 -->
	<select id="dislikeCountByNotice_id" resultType="int">
		SELECT COUNT(*) FROM cp_notice_like
		WHERE notice_id = #{notice_id} 
		AND notice_dislike = 1
	</select>
	
	<select id="selectBestNotice" resultType="map">
		<![CDATA[
		SELECT * FROM (
			SELECT 
			cn.ID AS ID,
			CN.TITLE AS TITLE,
			TJSI.NAME AS NAME,
			CN.READ_COUNT AS READ_COUNT,
			CN.CREATED_AT AS CREATED_AT,
			NVL(
				(SELECT sum(cnl.NOTICE_LIKE) - SUM(cnl.NOTICE_DISLIKE) 
				FROM CP_NOTICE_LIKE cnl
				WHERE cnl.NOTICE_ID = cn.id	
				), 0) AS score
				FROM CP_NOTICE cn
				INNER JOIN TL_JIC_STAFF_INFO tjsi ON TJSI.STAFF_PK = CN.STAFF_PK	
				ORDER BY SCORE DESC
				)
		WHERE rownum <= 3
		]]>
	</select>
	
	
	
	
	
	
	
</mapper>