<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkfactory.toothless.e.notice.mapper.NoticeSqlMapper">
	
	<select id="createNoticePk" resultType="int">
		SELECT cp_notice_seq.nextval FROM dual
	</select>
	
	<insert id="insertNoticeArticle">
		INSERT INTO cp_notice values(
			#{id},
			#{staff_pk},
			#{title},
			#{text},
			0,
			SYSDATE
		)
	</insert>
	
	<insert id="insertNoticeImage">
		INSERT INTO cp_notice_image values(
			cp_notice_image_seq.nextval,
			#{notice_id},
			#{notice_image_link}
		)
	</insert>
	
	<select id="selectNoticeList" resultType="com.mkfactory.toothless.e.dto.NoticeBoardDto">
		SELECT * FROM cp_notice ORDER BY id desc
	</select>		

	<select id="selectStaffInfoByStaff_Pk" resultType="com.mkfactory.toothless.donot.touch.dto.StaffInfoDto">
		SELECT * FROM tl_jic_staff_info 
		WHERE staff_pk = #{staff_pk}
	</select>
	
	<select id="selectNoticeImageByNotice_Id" resultType="com.mkfactory.toothless.e.dto.NoticeImageDto">
		SELECT * FROM cp_notice_image 
		WHERE notice_id = #{notice_id}
	</select>
	
	<select id="selectNoticeBoardById" resultType="com.mkfactory.toothless.e.dto.NoticeBoardDto">
		SELECT * FROM cp_notice WHERE id = #{id}
	</select>
	
</mapper>