<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkfactory.toothless.e.onlinecounsel.mapper.OnlineCounselSqlMapper">


	<!-- 공용  -->
	<select id="takeAllCategory" resultType="com.mkfactory.toothless.e.dto.TypeCategoryDto">
		SELECT * FROM cp_type_category
	</select>

	<select id="selectCategoryDto" resultType="com.mkfactory.toothless.e.dto.TypeCategoryDto">
		SELECT * FROM cp_type_category WHERE id = #{id}
	</select>






	<!-- 학생 관련 -->
	<insert id="insertOnlineCounsel">
		INSERT INTO cp_online_counsel_board VALUES(
			cp_online_counsel_board_seq.nextval,
			#{student_id},
			#{type_category_id},
			#{text},
			#{title},
			SYSDATE
		)
	</insert>

	<select id="selectAllCounselListByStudentPk" resultType="com.mkfactory.toothless.e.dto.OnlineCounselBoardDto">
		SELECT * FROM cp_online_counsel_board WHERE student_id = #{student_id}
	</select>

	<select id="getStudentInfo" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * FROM tl_jic_student_info WHERE student_pk = #{student_pk}
	</select>
	
	<select id="selectCounsel" resultType="com.mkfactory.toothless.e.dto.OnlineCounselBoardDto">
		SELECT * FROM cp_online_counsel_board WHERE id = #{id} ORDER BY id DESC
	</select>
	
	<select id="selectCounselorDto" resultType="com.mkfactory.toothless.e.dto.CounselorDto">
		SELECT * FROM cp_counselor WHERE external_pk = #{external_pk}
	</select>
	
	<select id="selectCounselTypeDto" resultType="com.mkfactory.toothless.e.dto.CounselorTypeDto">
		SELECT * FROM cp_counselor_type WHERE counselor_id = #{counselor_id}
	</select>
	
	<select id="selectCounselList" resultType="com.mkfactory.toothless.e.dto.OnlineCounselBoardDto">
		SELECT * FROM cp_online_counsel_board WHERE type_category_id = #{type_category_id}
	</select>
	
	<!--	상담원 관련 	-->
	
<!-- 	<select id="selectCounselorInfo" resultType="com.mkfactory.toothless.e.dto.CounselorDto">
		SELECT * FROM cp_counselor WHERE EXTERNAL_PK  = #{external_pk}
	</select>
	
	<select id="selectCounselorTypeInfo" resultType="com.mkfactory.toothless.e.dto.CounselorTypeDto">
		SELECT * FROM cp_counselor_type WHERE COUNSELOR_ID = #{counselor_id}
	</select>
	
	<select id="selectCounselBoardInfo" resultType="com.mkfactory.toothless.e.dto.OnlineCounselBoardDto">
		SELECT * FROM CP_ONLINE_COUNSEL_BOARD cocb WHERE TYPE_CATEGORY_ID = #{ TYPE_CATEGORY_ID}
	</select> -->
	
	
	
</mapper>