<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.mkfactory.toothless.c.huyeoung.mapper.HuyeoungProfessorSqlMapper">

	<!-- 교수 정보값 기본 쿼리 -->
	<insert id="insertProfessorInfo">
		insert into TL_JIC_PROFESSOR_INFO values(
		TL_JIC_PROFESSOR_INFO.seq.nextval,
		#{professor_pk},
		#{department_pk},
		#{professor_id},
		#{password},
		#{name},
		#{resident_id},
		#{birth},
		#{gender},
		#{address},
		#{phone},
		#{email},
		#{entered_at},
		SYSDATE
		)
	</insert>

	<!-- 담당 교수 출력 -->
	<select id= "selectProfessorInfo" resultType="com.mkfactory.toothless.donot.touch.dto.ProfessorInfoDto">
		SELECT * FROM TL_JIC_PROFESSOR_INFO
		WHERE professor_pk = #{professor_pk}
	</select>


</mapper>
