<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.c.huyeoung.mapper.HuyeoungInternshipSqlMapper">
	
	<!-- 현장실습등록 쿼리 -->
	<insert id="insertInternshipRegister">
		INSERT INTO tl_c_internship_course VALUES(
			tl_c_internship_course_seq.nextval, 
			#{company_pk},
			#{professor_pk},
			#{department_pk},
			#{course_title},
			#{internship_total_member},
			#{semester_qualification},
			#{applying_start_date},
			#{applying_end_date},
			#{internship_start_date},
			#{internship_end_date},
			#{announcement_date},
			SYSDATE
		)
	</insert>

	<!-- 현장실습 수정-->
	<update id="updateInternship" >
		UPDATE tl_c_internship_course
		   SET course_title = #{course_title}            
		     , internship_total_member = #{internship_total_member}
		     , semester_qualification = #{semester_qualification}
		     , applying_start_date = #{applying_start_date}
		     , applying_end_date = #{applying_end_date}
		     , internship_start_date = #{internship_start_date}
		     , internship_end_date = #{internship_end_date}
		     , company_pk = #{company_pk}
		     , professor_pk = #{professor_pk}
		     , department_pk = #{department_pk}
		WHERE internship_course_pk = #{internship_course_pk}
	</update>

	<!-- 현장실습 일괄조회 쿼리-->
	<select id="selectInternshipAll" 
		resultType="com.mkfactory.toothless.c.dto.AjdksInternshipCourseDto">
		SELECT a.*, b.company_name
		  FROM tl_c_internship_course a
		     , tl_c_company_info b
		 WHERE a.company_pk = b.company_pk 
	</select>

	<!-- 현장실습등록 회사아이디 조회-->	
	<select id="selectInternshipCompanyId" 
		resultType="com.mkfactory.toothless.c.dto.AjdksCompanyInfoDto">
		SELECT * FROM tl_c_company_info 
		WHERE company_pk = #{company_pk}
	</select>
	
	<!-- 현장실습등록 교수아이디 조회-->	
	<select id="selectInternshipProfessorId" 
		resultType="com.mkfactory.toothless.c.dto.AjdksInternshipCourseDto">
		SELECT * FROM tl_jic_professor_info
		WHERE professor_pk = #{professor_pk}
	</select>
	
	<!-- 담당 교수 출력 -->
	<select id= "selectProfessorInfoList" resultType="com.mkfactory.toothless.donot.touch.dto.ProfessorInfoDto">
		SELECT * FROM tl_jic_professor_info
	</select>
	
	<!-- 사업체리스트 출력 -->
	<select id= "selectCompanyList" resultType="com.mkfactory.toothless.c.dto.AjdksCompanyInfoDto">
		SELECT * FROM tl_c_company_info
	</select>

	<!-- 학과리스트 출력 -->
	<select id= "selectDepartmentList" resultType="com.mkfactory.toothless.donot.touch.dto.DepartmentCategoryDto">
		SELECT * FROM tl_jic_department_category
	</select>

	<!-- 현장실습 상세조회 쿼리-->
	<select id="selectInternshipDtil" 
		resultType="com.mkfactory.toothless.c.dto.AjdksInternshipCourseDto">
		SELECT a.* 
		     , b.company_name
		     , c.name AS professor_name
		     , d.name AS department_name
		  FROM tl_c_internship_course a
		     , tl_c_company_info b
		     , tl_jic_professor_info c
		     , tl_jic_department_category d
		WHERE a.internship_course_pk = #{internship_course_pk}
		  AND a.company_pk    = b.company_pk
		  AND a.professor_pk  = c.professor_pk
		  AND a.department_pk = d.department_pk
	</select>

</mapper>
