<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.b.ys.item.mapper.ItemStaffSqlMapper">
	
	<!-- 아이템 리스트 -->
	<select id="selectItemList" resultType="com.mkfactory.toothless.b.dto.ItemDto">
		SELECT * FROM TL_B_ITEM_INFO 
	</select>
	
	<!-- 카테고리별 아이템 리스트 -->
	<select id="selectItemListByCategoryId" resultType="com.mkfactory.toothless.b.dto.ItemDto">
		SELECT * FROM TL_B_ITEM_INFO
		WHERE ITEM_CAT_PK = #{item_cat_pk}
	</select>
	
	<!-- 카테고리 + 물품 join -->
	 
	<select id="selectItemJoinCategoryList" resultType="map">
		SELECT tbii.ITEM_PK AS ITEM_PK  , TBIC.NAME AS cat_NAME , TBII.NAME AS item_name, tbii.CREATED_AT as created_at  FROM TL_B_ITEM_INFO tbii
		INNER JOIN TL_B_ITEM_CAT tbic 
		ON tbii.ITEM_CAT_PK = tbic.ITEM_CAT_PK
	</select>

	
	<!-- 카테고리 리스트 -->
	<select id="selectItemCategoryList" resultType="com.mkfactory.toothless.b.dto.ItemCatDto">
		SELECT * FROM TL_B_ITEM_cat
	</select>
	
	<!-- 아이템 등록 -->
	<insert id="insertItem">
		INSERT INTO TL_B_ITEM_INFO values(
			TL_B_ITEM_INFO_seq.nextval,
			#{item_cat_pk},
			#{name},
			#{img_link},
			#{content},
			sysdate
		)
	</insert>
	
	<!-- 아이템pk별 아이템 -->
	<select id="selectItemByItemPk" resultType="com.mkfactory.toothless.b.dto.ItemDto">
		SELECT * FROM TL_B_ITEM_INFO
		WHERE ITEM_PK = #{item_pk}
	</select>
	
	<!-- 카테고리pk별 아이템 -->
	<select id="selectItemByItemCategoryPk" resultType="com.mkfactory.toothless.b.dto.ItemDto">
		SELECT * FROM TL_B_ITEM_INFO
		WHERE ITEM_CAT_PK = #{item_cat_pk}
	</select>
	
	<!-- 카테고리PK별 카테고리 -->
	<select id="selectItemCatByItemCategoryPk" resultType="com.mkfactory.toothless.b.dto.ItemCatDto">
		SELECT * FROM TL_B_ITEM_cat
		where Item_cat_pk = #{item_cat_pk}
	</select>
	
	
	<!-- 아이템pk별 아이템 수정 -->
	<update id="updateItemByItemPk">
		UPDATE TL_B_ITEM_INFO
		SET ITEM_CAT_PK = #{item_cat_pk}, NAME =#{name}, IMG_LINK = #{img_link}, CONTENT = #{content}
		WHERE ITEM_PK = #{item_pk}
	</update>

	<!-- 아이템pk별 아이템 삭제 -->
	<delete id="deleteItemByItemPk">
		DELETE FROM TL_B_ITEM_INFO
		WHERE ITEM_PK = #{item_pk}
	</delete>

	
	<!-- 신청 내역 리스트 쿼리 -->
	<select id="selectItemApplyList" resultType="map">
		SELECT TJSI.STUDENT_ID AS STUDENT_ID,
			   tbii.ITEM_PK AS ITEM_PK, 
			   tbic.NAME AS CAT_NAME, 
			   tbii.NAME AS ITEM_NAME, 
			   tbia.REASON AS REASON, 
			   tbia.RENTAL_DATE AS RENTAL_DATE,
			   tbia.RETURN_DATE AS RETURN_DATE,
			   tbia.STATUS AS STATUS,
			   tbia.ITEM_APPLY_PK AS ITEM_APPLY_PK
		FROM TL_B_ITEM_INFO tbii
		INNER JOIN TL_B_ITEM_CAT tbic 
		ON tbii.ITEM_CAT_PK = tbic.ITEM_CAT_PK 
		INNER JOIN TL_B_ITEM_APPLY tbia 
		ON tbii.ITEM_PK = tbia.ITEM_PK 
		INNER JOIN TL_JIC_STUDENT_INFO tjsi 
		ON TBIA.STUDENT_PK = TJSI.STUDENT_PK
	</select>

	<!-- 물품 대여했을 때,신청 테이블 status 업데이트 -->
	<update id="updateRentalStatus">
		UPDATE TL_B_ITEM_APPLY 
		SET STATUS = 'Y'
		WHERE ITEM_APPLY_PK = #{item_apply_pk}
	</update>
	
	<!-- 물품 반납했을 때,신청 테이블 status 업데이트 -->
	<update id="updateReturnStatus">
		UPDATE TL_B_ITEM_APPLY 
		SET STATUS = 'N'
		WHERE ITEM_APPLY_PK = #{item_apply_pk}
	</update>
	
	<delete id="deleteItemApply">
		DELETE FROM TL_B_ITEM_APPLY 
		WHERE ITEM_APPLY_PK = #{item_apply_pk}
	</delete>
	
	<!-- 검색 쿼리 -->
	<!--  
	<select id="searchSelectAll" resultType="map">
		SELECT tbii.ITEM_PK AS ITEM_PK, 
		TBIC.NAME AS cat_NAME, 
		TBII.NAME AS item_name, 
		tbii.CREATED_AT as created_at
		FROM TL_B_ITEM_INFO tbii
		INNER JOIN TL_B_ITEM_CAT tbic ON tbii.ITEM_CAT_PK = tbic.ITEM_CAT_PK
		WHERE 1=1
		<if test="searchType != null">
			<choose>
				<when test="searchType == 'itemPk'">
					AND tbii.ITEM_PK LIKE '%' || #{searchWord} || '%'
					AND tbii.ITEM_CAT_PK  IN
					<foreach collection="array" item="item_cat_pk" open="(" close=")" separator="," >
						#{item_cat_pk}
					</foreach> 
				</when>
				<when test="searchType == 'catName'">
					AND tbic.NAME LIKE '%' || #{searchWord} || '%'
					AND tbii.ITEM_CAT_PK  IN
					<foreach collection="array" item="item_cat_pk" open="(" close=")" separator="," >
						#{item_cat_pk}
					</foreach>  
				</when>
				<when test="searchType == 'itemName'">
					AND tbii.NAME LIKE '%' || #{searchWord} || '%'
					AND tbii.ITEM_CAT_PK  IN 
					<foreach collection="array" item="item_cat_pk" open="(" close=")" separator="," >
						#{item_cat_pk}
					</foreach> 
				</when>
				<when test="searchType == 'createdAt'">
					AND tbii.CREATED_AT LIKE '%' || #{searchWord} || '%'
					AND tbii.ITEM_CAT_PK  IN 
					<foreach collection="array" item="item_cat_pk" open="(" close=")" separator="," >
						#{item_cat_pk}
					</foreach> 
				</when>
			</choose>
		</if>
		
	</select>
	-->
	<!-- select box 검색 쿼리 -->
	<select id="searchSelectAll" resultType="map">
		SELECT tbii.ITEM_PK AS ITEM_PK, 
		TBIC.NAME AS cat_NAME, 
		TBII.NAME AS item_name, 
		tbii.CREATED_AT as created_at
		FROM TL_B_ITEM_INFO tbii
		INNER JOIN TL_B_ITEM_CAT tbic ON tbii.ITEM_CAT_PK = tbic.ITEM_CAT_PK
		WHERE 1=1
		<!-- 카테고리랑 물품명 둘 다 검색했을 시 -->
		<if test="searchItemName != 'default' and searchCategory != 0">
        AND tbii.NAME LIKE '%' || #{searchItemName} || '%'
        AND tbii.ITEM_CAT_PK = #{searchCategory}
	    </if>
	    <!-- 카테고리만 검색했을 시 -->
	    <if test="searchItemName == 'default' and searchCategory != 0">
	    AND tbii.ITEM_CAT_PK = #{searchCategory}
	    </if>
	    <!-- 물품명만 검색했을 시 --> 
	    <if test="searchItemName != 'default' and searchCategory == 0">
	    AND tbii.NAME LIKE '%' || #{searchItemName} || '%'
	    </if> 
	    
	</select>
	
	<!-- checkbox 검색 쿼리 -->
	<select id="searchBycheckBox" resultType="map">
		SELECT tbii.ITEM_PK AS ITEM_PK, 
		TBIC.NAME AS cat_NAME, 
		TBII.NAME AS item_name, 
		tbii.CREATED_AT as created_at
		FROM TL_B_ITEM_INFO tbii
		INNER JOIN TL_B_ITEM_CAT tbic ON tbii.ITEM_CAT_PK = tbic.ITEM_CAT_PK
		WHERE 1=1
		
		<if test="searchItemName != 'default'">
        AND tbii.NAME LIKE '%' || #{searchItemName} || '%'
        </if>
        <if test="searchCategory != null and searchCategory.length > 0">
		AND tbii.ITEM_CAT_PK IN
			<foreach collection="searchCategory" item="Category" open="(" close=")" separator="," >
					#{Category}
			</foreach> 
	    </if>
	</select>
	
</mapper>
