<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.b.ys.item.mapper.ItemStudentSqlMapper">
	
	<!-- 물품 신청 -->
	<insert id="insertItemApply">
		INSERT INTO TL_B_ITEM_APPLY values(
			TL_B_ITEM_APPLY_seq.nextval,
			#{student_pk},
			#{item_pk},
			#{reason},
			'N',
			#{rental_date},
			#{return_date},
			sysdate
		)
	</insert>
	
	<!-- 신청 물품 리스트 -->
	<select id="studentApplyItemList" resultType="map">
		SELECT tbii.ITEM_PK AS ITEM_PK,
		tbii.IMG_LINK AS IMG_LINK,
		tbic.NAME AS CAT_NAME, 
		tbii.NAME AS ITEM_NAME, 
		tbia.STATUS AS STATUS
		FROM TL_B_ITEM_INFO tbii
		INNER JOIN TL_B_ITEM_CAT tbic 
		ON tbii.ITEM_CAT_PK = tbic.ITEM_CAT_PK 
		INNER JOIN TL_B_ITEM_APPLY tbia 
		ON tbii.ITEM_PK = tbia.ITEM_PK 
		INNER JOIN TL_JIC_STUDENT_INFO tjsi 
		ON TBIA.STUDENT_PK = TJSI.STUDENT_PK
	</select>
	
	<!-- 물품,물품 신청 JOIN 해서 STATUS값 가져오기 -->
	<select id="ItemApplyStatus" resultType="String">
		SELECT tbia.STATUS AS STATUS FROM TL_B_ITEM_INFO tbii 
		INNER JOIN TL_B_ITEM_APPLY tbia
		ON tbii.ITEM_PK = tbia.ITEM_PK
		WHERE tbii.ITEM_PK = #{item_pk}
	</select>
</mapper>