<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkfactory.toothless.a.staff.sj.mapper.BuildingSqlMapper">

	<!-- 건물 등록 -->
	<insert id="registerDormInfo">
		INSERT INTO tl_a_dorm_building VALUES (
			tl_a_dorm_building_seq.nextval,
			#{name},
			#{main_img},
			#{address}
		)
	</insert>
	
	<!-- 건물 삭제 -->
	<delete id="deleteForDormInfo">
		DELETE FROM TL_A_DORM_BUILDING tadb WHERE DORM_PK = #{dorm_pk}
	</delete>
	
	<!-- 건물 전체 -->
	<select id="dormBuildings" resultType="com.mkfactory.toothless.a.dto.DormBuildingDto">
		SELECT * FROM tl_a_dorm_building ORDER BY DORM_PK asc
	</select>
	
	<!-- 건물 선택 -->
	<select id="dormBuildinChoice" resultType="com.mkfactory.toothless.a.dto.DormBuildingDto">
		SELECT * FROM TL_A_DORM_BUILDING  WHERE dorm_pk = #{dorm_pk}
	</select>
	
	<!-- 호실 등록 -->
	<insert id="registerRoomInfo">
		INSERT INTO tl_a_dorm_room values(
			tl_a_dorm_room_seq.nextval,
			#{dorm_pk},
			#{dorm_amount_pk},
			#{room_name},
			#{gender},
			#{dorm_floor}
		)
	</insert>
	
	<!-- 호실 조회 -->
	<select id="selectRooms" resultType="com.mkfactory.toothless.a.dto.DormRoomDto">
		SELECT * FROM TL_A_DORM_ROOM tadr ORDER BY DORM_PK, ROOM_NAME  asc
	</select>
	
	<!-- 호실 삭제 -->
	<delete id = "deleteRoom">
		DELETE FROM TL_A_DORM_ROOM tadr WHERE DORM_ROOM_PK =#{dorm_room_pk}
	</delete>
	<!-- 호실 pk 뽑기-->
	<select id="selectRoomByPk" resultType="com.mkfactory.toothless.a.dto.DormRoomDto">
		SELECT * FROM TL_A_DORM_ROOM tadr WHERE DORM_ROOM_PK =#{dorm_room_pk}
	</select>
	
	<!-- 호실 수정 -->
	<update id="updateRoom">
		UPDATE TL_A_DORM_ROOM 
		SET DORM_PK = #{dorm_pk}, 
			DORM_AMOUNT_PK = #{dorm_amount_pk}, 
			ROOM_NAME = #{room_name}, 
			GENDER =#{gender}, 
			DORM_FLOOR = #{dorm_floor}
		WHERE DORM_ROOM_PK = #{dorm_room_pk}
	</update>

	
	<!-- 정원 카테고리 -->
	<select id="dormCategory" resultType="com.mkfactory.toothless.a.dto.DormCategoryDto">
		SELECT * FROM TL_A_DORM_CATEGORY tadc ORDER BY DORM_AMOUNT ASC
	</select>
	
	<!-- 정원 카테고리 호실별 이미지 등록-->
	<insert id="insertCategoryImgs">
		INSERT INTO tl_a_dorm_category VALUES (
		tl_a_dorm_category_seq.nextval,
		#{dorm_amount},
		#{dorm_imgs}
	)
	</insert>

	<!-- 정원 카테고리 이미지 삭제하기-->
	<delete id="deleteCategoryImg">
		DELETE FROM TL_A_DORM_CATEGORY tadc WHERE DORM_AMOUNT_PK = #{dorm_amount_pk}
	</delete>
	
	<select id="selectDormCategoryPk" resultType="com.mkfactory.toothless.a.dto.DormCategoryDto">
		SELECT * FROM TL_A_DORM_CATEGORY tadc WHERE DORM_AMOUNT_PK =#{dorm_amount_pk}
	</select>
	
	<!-- 동과 호실에 해당하는 학생 리스트 나오기 ex.A동 101호에 사는 학생이름, 학번 출력 -->
	<select id="selectStudentNameAndId" resultType="com.mkfactory.toothless.a.dto.DormStudentDto">
		SELECT TJSI.student_pk, tjsi.NAME
			FROM TL_A_DORM_ROOM tadr 
			INNER JOIN TL_A_DORM_STUDENT tads 
			ON tadr.DORM_ROOM_PK = tads.DORM_ROOM_PK 
			INNER JOIN TL_JIC_STUDENT_INFO tjsi
			ON tjsi.STUDENT_PK  = tads.STUDENT_PK 
			WHERE ROOM_NAME = #{room_name} AND DORM_PK = #{dorm_pk}
	</select>
	
	
	<!-- 동과 호실에 해당하는 학생의 상 벌점 -->
	<select id="selectStudentPoints" resultType="java.util.Map">
	SELECT SUM(tapc.POINT)  AS sum FROM TL_A_POINT tap
	INNER JOIN TL_A_POINT_CATEGORY tapc ON TAPC.POINT_CATEGORY_PK = tap.POINT_CATEGORY_PK 
	WHERE tap.DORM_STUDENT_PK = #{dorm_student_pk}
	</select>
	
	<!-- pointDto pk 값 -->
	<select id="selectPointPk" resultType="com.mkfactory.toothless.a.dto.PointDto">
		SELECT * FROM TL_A_POINT tap WHERE DORM_POINT_PK = #{dorm_point_pk}
	</select>
	
	<!-- pointCategory pk값 -->
	<select id="selectPointCategoryPk" resultType="com.mkfactory.toothless.a.dto.PointCategory">
		SELECT * FROM TL_A_POINT_CATEGORY tapc WHERE POINT_CATEGORY_PK = #{point_category_pk}
	</select>
	
	<!-- pointDto에서 dorm_student_pk 뽑기 -->
	<select id="stPk" resultType="com.mkfactory.toothless.a.dto.PointDto">
		SELECT * FROM TL_A_POINT tap WHERE DORM_POINT_PK = #{dorm_point_pk}
	</select>
	
	<!-- 이거는 전체 학생 디티오에서 pk 뽑으려고 -->
	<select id="selectStudentPk" resultType="com.mkfactory.toothless.a.dto.DormStudentDto" >
		SELECT * FROM TL_A_DORM_STUDENT tads WHERE STUDENT_PK =#{student_pk}
	</select>
	
	<select id="forStudentName" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * FROM TL_JIC_STUDENT_INFO tjsi WHERE STUDENT_PK = #{student_pk}
	</select>
	
	
	<select id ="selectPk" resultType="com.mkfactory.toothless.a.dto.DormStudentDto">
		SELECT * FROM TL_A_DORM_STUDENT tads WHERE DORM_STUDENT_PK =#{dorm_student_pk}
	</select>
	
	<select id="selectStudents" resultType="com.mkfactory.toothless.a.dto.DormStudentDto" >
		SELECT * FROM TL_A_DORM_STUDENT tads 
	</select>
	
</mapper>