<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkfactory.toothless.a.staff.sj.mapper.BuildingSqlMapper">
		


	
	<!-- 건물 등록 -->
	<insert id="registerDormInfo">
		INSERT INTO tl_a_dorm_building VALUES (
			tl_a_dorm_building_seq.nextval,
			#{name},
			#{main_img},
			#{address}
		)
	</insert>
	
	<!-- 건물 삭제 -->
	<delete id="deleteForDormInfo">
		DELETE FROM TL_A_DORM_BUILDING tadb WHERE DORM_PK = #{dorm_pk}
	</delete>
	
	<!-- 건물 전체 -->
	<select id="dormBuildings" resultType="com.mkfactory.toothless.a.dto.DormBuildingDto">
		SELECT * FROM tl_a_dorm_building ORDER BY DORM_PK asc
	</select>
	
	<!-- 건물 선택 -->
	<select id="dormBuildinChoice" resultType="com.mkfactory.toothless.a.dto.DormBuildingDto">
		SELECT * FROM TL_A_DORM_BUILDING  WHERE dorm_pk = #{dorm_pk}
	</select>
	
	<!-- 호실 등록 -->
	<insert id="registerRoomInfo">
		INSERT INTO tl_a_dorm_room values(
			tl_a_dorm_room_seq.nextval,
			#{dorm_pk},
			#{dorm_amount_pk},
			#{room_name},
			#{gender},
			#{dorm_floor}
		)
	</insert>
	
	<!-- 호실 조회 -->
	<select id="selectRooms" resultType="com.mkfactory.toothless.a.dto.DormRoomDto">
		SELECT * FROM tl_a_dorm_room ORDER BY DORM_ROOM_PK asc
	</select>
	
	<!-- 호실 삭제 -->
	<delete id = "deleteRoom">
		DELETE FROM TL_A_DORM_ROOM tadr WHERE DORM_ROOM_PK =#{dorm_room_pk}
	</delete>
	<!-- 호실 pk 뽑기-->
	<select id="selectRoomByPk" resultType="com.mkfactory.toothless.a.dto.DormRoomDto">
		SELECT * FROM TL_A_DORM_ROOM tadr WHERE DORM_ROOM_PK =#{dorm_room_pk}
	</select>
	
	<!-- 호실 수정 -->
	<update id="updateRoom">
		UPDATE TL_A_DORM_ROOM 
		SET DORM_PK = #{dorm_pk}, 
			DORM_AMOUNT_PK = #{dorm_amount_pk}, 
			ROOM_NAME = #{room_name}, 
			GENDER =#{gender}, 
			DORM_FLOOR = #{dorm_floor}
		WHERE DORM_ROOM_PK = #{dorm_room_pk}
	</update>

	
	<!-- 정원 카테고리 -->
	<select id="dormCategory" resultType="com.mkfactory.toothless.a.dto.DormCategoryDto">
		SELECT * FROM tl_a_dorm_category
	</select>
	
	<!-- 정원 카테고리 -->
	<insert id="insertCategoryImgs">
		INSERT INTO tl_a_dorm_category VALUES (
		tl_a_dorm_category_seq.nextval,
		#{dorm_amount},
		#{dorm_imgs}
	)
	</insert>
	
	<!-- 정원 카테고리 img update -->
	<update id="updateCategory">
		UPDATE TL_A_DORM_CATEGORY 
		SET DORM_IMGS =#{dorm_imgs}
		WHERE DORM_AMOUNT_PK = #{dorm_amount_pk}
	</update>
	
	<select id="selectDormCategoryPk" resultType="com.mkfactory.toothless.a.dto.DormCategoryDto">
		SELECT * FROM TL_A_DORM_CATEGORY tadc WHERE DORM_AMOUNT_PK =#{dorm_amount_pk}
	</select>
	
</mapper>