<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkfactory.toothless.b.hs.edu.mapper.EduStaffSqlMapper">
	
	<insert id="insert">
		INSERT INTO TL_B_EDU_INFO VALUES(
			TL_B_EDU_INFO_seq.nextval,
			#{edu_cat_pk},
			#{staff_pk},
			#{name},
			#{content},
			#{img_link},
			#{apply_start_date},
			#{apply_end_date},
			#{edu_date},
			#{place},
			#{capacity},
			SYSDATE
		)
	</insert>
	<!-- 프로그램 목록 가져오기 -->
	<select id="selectAll" resultType="com.mkfactory.toothless.b.dto.EduDto">
		SELECT * FROM TL_B_EDU_INFO ORDER BY edu_pk DESC
	</select>
	
	<!-- 프로그램 신청 목록가져오기 -->
	<select id="selectAllEduApply" resultType="com.mkfactory.toothless.b.dto.EduApplyDto">
		SELECT * FROM TL_B_EDU_APPlY ORDER BY edu_apply_pk DESC
	</select>
	
	<select id="selectById" resultType="com.mkfactory.toothless.donot.touch.dto.StaffInfoDto">
		SELECT * FROM TL_JIC_STAFF_INFO WHERE staff_pk = #{staff_pk}
	</select>
	<!-- 학생 pk가져오기 -->
	<select id="selectByIdStudent" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * FROM TL_JIC_STUDENT_INFO WHERE student_pk = #{student_pk}
	</select>
	
	<select id="selectByEdu_pk" resultType="com.mkfactory.toothless.b.dto.EduDto">
		SELECT * FROM TL_B_EDU_INFO WHERE edu_pk = #{edu_pk}
	</select>
	
	<!-- 학생pk +교육pk 가져오기 프로그램 중복신청 막기위해 -->
	<select id="selectByEdu_pkAndStudent_pk" resultType="int">
		SELECT COUNT(*) FROM TL_B_EDU_APPLY
		WHERE STUDENT_PK = #{student_pk}
		AND EDU_PK = #{edu_pk}
	</select>
	
	<!-- 모든 만족도 내역 출력 교직원이보는용도 -->
	<select id="selectAllServeyList" resultType="com.mkfactory.toothless.b.dto.EduStsfcSurveyDto">
		SELECT * FROM TL_B_EDU_STSFC_SURVEY ORDER BY edu_stsfc_survey_pk DESC
	</select>
	
	<select id="selectServeyStudent" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * FROM TL_JIC_STUDENT_INFO tjsi 
		WHERE STUDENT_PK = (
			SELECT STUDENT_PK FROM TL_B_EDU_APPLY tbea 
			WHERE EDU_APPLY_PK = #{edu_apply_pk}
		)
	</select>
	
	<select id="selectServeyEduName" resultType="String">
		SELECT NAME FROM TL_B_EDU_INFO tbei
		WHERE EDU_PK = (
			SELECT EDU_PK FROM TL_B_EDU_APPLY tbea
			WHERE EDU_APPLY_PK = #{EDU_APPLY_PK}
		)
	</select>
	<!-- 프로그램당 신청번호 개수 -->
	<select id="selectApplyPkPerEduPkCount" resultType="int">
		SELECT COUNT(EDU_APPLY_PK) FROM TL_B_EDU_APPLY tbea 
		WHERE EDU_PK = #{EDU_PK}
	</select>
	
	<!-- 교육정보 수정 삭제 -->
	<update id="update">
		UPDATE TL_B_EDU_INFO
		SET name = #{name},
		CONTENT = #{content}, 
		IMG_LINK = #{img_link},
		apply_start_date = #{apply_start_date},
		apply_end_date = #{apply_end_date},
		edu_date = #{edu_date},
		place = #{place},
		capacity = #{capacity}
		WHERE edu_pk = #{edu_pk}
	</update>
	
	<!--상태 Y로 바꾸기 교직원이. -->
	<update id="updateStatusY">
		UPDATE TL_B_EDU_APPLY SET STATUS = 'Y' 
		WHERE EDU_APPLY_PK = #{edu_apply_pk}
	</update>
	<!--상태 N로 바꾸기 교직원이. -->
	<update id="updateStatusN">
		UPDATE TL_B_EDU_APPLY SET STATUS = 'N' 
		WHERE EDU_APPLY_PK = #{edu_apply_pk}
	</update>
	
	<update id="updateStatusC">
		UPDATE TL_B_EDU_APPLY SET STATUS = 'C' 
		WHERE EDU_APPLY_PK = #{edu_apply_pk}
	</update>
	
	<update id="updateStatusD">
		UPDATE TL_B_EDU_APPLY SET STATUS = 'D' 
		WHERE EDU_APPLY_PK = #{edu_apply_pk}
	</update>
	
	
	<!-- 프로그램 게시글 삭제 -->
	<delete id="delete">
		DELETE FROM TL_B_EDU_INFO
		WHERE edu_pk = #{edu_pk}
	</delete>
	
	
</mapper>