<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.mkfactory.toothless.c.woojae.mapper.WoojaeExternalSqlMapper">
	
	<!-- 외부사용자 PK -->
	<select id="createExternalPk" resultType="int">
		SELECT tl_jic_external_info_seq.nextval FROM dual
	</select>
	
	<!-- 업종 카테고리 -->
	<select id="selectCompanyCategoryList" resultType="com.mkfactory.toothless.c.dto.AjdksCompanyCategoryDto">
		SELECT * FROM tl_c_company_category ORDER BY company_category_pk ASC
	</select>
	
	<!-- 산업체 등록 -->
	<insert id="insertCompanyInfo">
		INSERT INTO tl_c_company_info VALUES(
			tl_c_company_info_seq.nextval,
			#{company_category_pk},
			#{staff_pk},
			#{external_pk},
			#{company_id},
			#{company_name},
			#{ceo_name},
			#{address},
			#{phone},
			#{url}
		)
	</insert>
	
	<!-- 외부사용자 등록 -->
	<insert id="insertExternalInfo">
		INSERT INTO tl_jic_external_info VALUES(
			#{external_pk},
			#{external_id},
			#{password},
			1,
			SYSDATE
		)
	</insert>
	
	<!-- 등록된 산업체 리스트 -->
	<select id="selectRegisteredCompanyList" resultType="com.mkfactory.toothless.c.dto.AjdksCompanyInfoDto">
		SELECT * FROM tl_c_company_info ORDER BY company_pk DESC
	</select>
	<select id="selectBycompany_category_pk" resultType="com.mkfactory.toothless.c.dto.AjdksCompanyCategoryDto">
		SELECT * FROM tl_c_company_category WHERE company_category_pk = #{company_category_pk}
	</select>
	
	<!-- 카테고리별 산업체 리스트 -->
	<select id="selectCompanyListByCategoryPk" resultType="com.mkfactory.toothless.c.dto.AjdksCompanyInfoDto">
		SELECT * FROM tl_c_company_info WHERE COMPANY_CATEGORY_PK = #{company_category_pk}
	</select>
	
</mapper>
