<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.donot.touch.mapper.ProfessorSqlMapper">

	<select id="selectProfessorByIdAndPassword" resultType="com.mkfactory.toothless.donot.touch.dto.ProfessorInfoDto">
		SELECT * FROM tl_jic_professor_info
		WHERE professor_id = #{professor_id}
		AND password = #{password}
	</select>
	
	<select id="selectProfessorDepartmentName" resultType="String">
		SELECT name FROM tl_jic_department_category
		WHERE department_pk = #{department_pk}
	</select>
	
	
	
</mapper>