<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.donot.touch.mapper.StudentSqlMapper">

	<select id="selectStudentByIdAndPassword" resultType="com.mkfactory.toothless.donot.touch.dto.StudentInfoDto">
		SELECT * FROM tl_jic_student_info
		WHERE student_id = #{student_id}
		AND password = #{password}
	</select>
	
	<select id="selectStudnetDepartmentName" resultType="String">
		SELECT name FROM tl_jic_department_category
		WHERE department_pk = #{department_pk}
	</select>
	
	<select id="selectStudentYear" resultType="int">
		SELECT FLOOR((SELECT count(*) FROM tl_jic_student_semester
		WHERE student_pk = #{student_pk}
		and semester_pk IN (SELECT semester_pk FROM tl_jic_semester_info )) / 2) + 1 AS int FROM dual
	</select>
	
	<select id="selectGraduationInfo" resultType="int">
		SELECT nvl(count(*),0) FROM tl_jic_student_info
		WHERE student_pk = #{student_pk}
		AND student_pk IN (SELECT student_pk FROM tl_jic_graduation_info)
	</select>
	
	<select id="selectMyProfessor" resultType="com.mkfactory.toothless.donot.touch.dto.ProfessorInfoDto" >
		SELECT * FROM tl_jic_professor_info
		where professor_pk = #{professor_pk}
	</select>

	<!--알림 관련 .... -->
	<!--  읽지 않은 알림 수(상단노출) -->
	<select id="selectMyNotifyCount" resultType="int">
		SELECT count(*) FROM tl_jic_notification
		WHERE student_pk = #{student_pk}
		AND checkRead LIKE 'N'
	</select>
	<!--  새로운 알림(로그인시 하단(몇개의) 신규 알림 노출용) -->
	<select id="selectMyNewNotifyCount" resultType="int">
		SELECT count(*) FROM tl_jic_notification
		WHERE student_pk = #{student_pk}
		AND checkNotify LIKE 'N'
	</select>
	<!--  새로운 알림(로그인시 하단(몇개의) 신규 알림 노출용) -> 알림 상태 업데이트 -->
	<update id="updateMyNewNotifyStatus">
		UPDATE tl_jic_notification SET checkNotify = 'Y' WHERE student_pk = #{student_pk}
	</update>
	<!--  읽지 않은 알림 리스트(상단 클릭시 노출) -->
	<select id="selectNotReadNotification" resultType="com.mkfactory.toothless.donot.touch.dto.NotificationDto">
		SELECT * FROM tl_jic_notification
		WHERE student_pk = #{student_pk}
		AND checkRead LIKE 'N'
	</select>
	<!--  읽지 않은 알림 리스트(상단 클릭시 노출) -> 상태 업데이트 -->
	<update id="updateMyNotifyReadStatus">
		UPDATE tl_jic_notification SET checkRead = 'Y' WHERE student_pk = #{student_pk}
	</update>
	<!--  내 현재 새로운 알림 리스트 (계속 정기적으로 받다가 새로운 알림이 뜨면 하단 박스에 노출시킬거임.) -->
	<select id="reloadMyNotification" resultType="com.mkfactory.toothless.donot.touch.dto.NotificationDto">
		SELECT * FROM tl_jic_notification
		WHERE student_pk = #{student_pk}
		AND checkRead LIKE 'N'
		AND checkNotify LIKE 'N'
	</select>
	
</mapper>




