<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkfactory.toothless.c.guntaek.mapper.GuntaekStudentSqlMapper">

<!-- 이력서 insert -->
<insert id ="registerSelfIntroduction">
INSERT INTO tl_c_self_introduction VALUES(
	tl_c_self_introduction_seq.nextval,
	#{student_pk},
	#{answer1},
	#{answer2},
	#{answer3},
	#{answer4}
)
</insert>

<!-- 이력서 개수 -->
<select id = "countSelfIntroduction" resultType ="int">
	SELECT COUNT(*) FROM tl_c_self_introduction
	WHERE student_pk =#{student_pk}
</select>

<!-- 특정 학생이력서 Dto 가져오기 -->
<select id ="getSelfIntroductionDto" resultType = "com.mkfactory.toothless.c.dto.AjdksSelfIntroductionDto">
	SELECT * FROM TL_C_SELF_INTRODUCTION
	WHERE STUDENT_PK = #{student_pk}
</select>

<!-- 이력서 수정 -->
<update id ="updateSelfIntroductionDto">
	UPDATE TL_C_SELF_INTRODUCTION
	SET answer1  = #{answer1}, answer2 = #{answer2}, 
	answer3 =#{answer3}, answer4 = #{answer4}
	WHERE student_pk = #{student_pk}
</update>

<!-- 이력서 insert -->
<insert id = "registerCertification">
INSERT INTO tl_c_certification VALUES(
	tl_c_certification_seq.nextval,
	#{student_pk},
	#{certification_name},
	#{certification_acquisition_date},
	#{certification_file}
)
</insert>

<!-- 모든 학생 Dto 리스트 가져오기 -->
<select id = "getSelfIntroductionDtoList" resultType = "com.mkfactory.toothless.c.dto.AjdksSelfIntroductionDto">
	SELECT * FROM tl_c_self_introduction
</select>

<!-- 특정 학생키의 이력서 DTO 가져오기 -->
<select id = "getCertificationByStudentPk" resultType ="com.mkfactory.toothless.c.dto.AjdksCertificationDto">
	SELECT * FROM tl_c_certification
	WHERE STUDENT_PK = #{student_pk}
</select>

<delete id ="deleteCertificationByFile">
	DELETE FROM TL_C_CERTIFICATION
	WHERE certification_file = #{FileName}
</delete>


</mapper>